<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="sidebar-mini layout-fixed sidebar-closed sidebar-collapse" style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 10px; margin-right: auto;">
                <span th:text="#{Профиль_владельца}"></span>
                </h4>
            <ol class="breadcrumb text-for-breadcrumb" style="margin-right: 1%;">
                <li class="breadcrumb-item"><a href="/admin" class="text-for-breadcrumb">
                    <span th:text="#{Главная}"></span>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="/admin/user/index/1" class="text-for-breadcrumb">
                    <span th:text="#{Тарифы}"></span>
                    Тарифы</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span th:text="#{Тариф}"></span>
                    Тариф №[[${tariffDTO.id}]]</li>
            </ol>
        </div>
        <section class="content">
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        <a class="btn btn-primary" th:href="@{/admin/tariff/edit/{id}(id=${tariffDTO.getId()})}">
                            <span th:text="#{Редактирование_тарифа}"></span>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-view"
                           style="font-size: 13px; font-weight: bold">
                        <tbody>
                        <tr>
                            <td style="font-weight: bold; font-size: 14px; width: 30%">
                                <span th:text="#{Название_тарифа}"></span>
                            </td>
                            <td style="width: 70%">
                                [[${tariffDTO.name}]]
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; font-size: 14px">
                                <span th:text="#{Описание_тарифа}"></span>
                            </td>
                            <td>
                                [[${tariffDTO.description}]]
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; font-size: 14px">
                                <span th:text="#{Дата_редактирования}"></span>
                            </td>
                            <td>
                                [[${dateEdit}]]
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-striped table-view"
                           style="font-size: 13px; font-weight: bold; margin-top: 25px;">
                        <thead>
                        <tr>
                            <b>
                                <th style="width: 10%">
                                    №
                                </th>
                                <th style="width: 35%">
                                    <span th:text="#{Услуга}"></span>

                                </th>
                                <th style="width: 15%">
                                    <span th:text="#{Ед.изм.}"></span>
                                </th>
                                <th style="width: 25%">
                                    <span th:text="#{Цена_за_ед}"></span>
                                </th>
                                <th style="width: 15%">
                                    <span th:text="#{Валюта}"></span>

                                </th>
                            </b>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="service, index: ${tariffDTO.getAdditionalServiceForTariffDTOS()}" style="font-size: 14px; font-weight: normal">
                                <td>
                                    [[${index.index + 1}]]
                                </td>
                                <td>
                                    [[${service.additionalService.name}]]
                                </td>
                                <td>
                                    [[${service.additionalService.unitOfMeasurement.name}]]
                                </td>
                                <td>
                                    [[${service.price}]]
                                </td>
                                <td>
                                    грн
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
            href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        Документация API доступна <a href="/doc">по ссылке</a>.
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
</body>
</html>
