<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">

</head>

<body class="sidebar-mini layout-fixed sidebar-closed sidebar-collapse" style="height: auto;">
<form method="post" action="/admin/account-transaction/create/in" th:object="${accountTransactionInDTO}">
    <div class="wrapper">
        <div th:replace="blocks/menu :: menu"></div>
        <div class="content-wrapper">
            <div class="content-header" style="display: flex; align-items: center;">
                <h4 style="margin-left: 20px; margin-right: auto;">Новая приходная ведомость</h4>
                <ol class="breadcrumb text-for-breadcrumb" style="margin-right: 3%;">
                    <li class="breadcrumb-item"><a href="/admin" class="text-for-breadcrumb">Главная</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/admin/account-transaction/index/1" class="text-for-breadcrumb">Платежи</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Новая приходная ведомость</li>
                </ol>
            </div>
            <section class="content">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text">№</span>
                            <input type="number" class="form-control" name="id" th:value="${maxId}">
                            <p style="margin-left: 10px; margin-right: 10px;">от</p>
                            <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            <input type="date" name="date" class="form-control" th:value="${fromDate}">
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" name="addToStats" type="checkbox"
                                               id="flexCheckDefault"
                                               checked>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Проведен
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="font-weight: bold;">
                                <div class="col">
                                    <p>Владелец квартиры
                                        <select class="mySelect form-select" name="userName"
                                                aria-label="Default select example">
                                            <option>Виберите...</option>
                                            <option th:each="user:${users}" th:value="${user.firstName}" th:field="*{userName}"
                                                    th:text="${user.firstName}"></option>
                                        </select>
                                    <div style="color: red; font-size: small; font-weight: bold; font-style: italic" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
                                    <p style="margin-top: 20px;">Лицевой счет</p>
                                    <select class="mySelect form-select" name="scoreId"
                                            aria-label="Default select example">
                                        <option>Виберите...</option>
                                        <option th:each="score:${scores}" th:value="${score.id}" th:field="*{scoreId}"
                                                th:text="${score.id}"></option>
                                    </select>
                                    <div style="color: red; font-size: small; font-weight: bold; font-style: italic" th:if="${#fields.hasErrors('scoreId')}" th:errors="*{scoreId}"></div>
                                    <p style="margin-top: 20px;">Статья</p>
                                    <select class="mySelect form-select" name="transactionPurposeName"
                                            aria-label="Default select example">
                                        <option>Виберите...</option>
                                        <option th:each="transactionPurpose:${transactionPurposes}" th:field="*{transactionPurposeName}"
                                                th:value="${transactionPurpose.name}"
                                                th:text="${transactionPurpose.name}"></option>
                                    </select>
                                    <div style="color: red; font-size: small; font-weight: bold; font-style: italic" th:if="${#fields.hasErrors('transactionPurposeName')}" th:errors="*{transactionPurposeName}"></div>
                                    <p style="margin-top: 20px;">Сумма</p>
                                    <input class="form-control" type="text" name="sum"
                                           aria-label="default input example" th:field="*{sum}">
                                    <div style="color: red; font-size: small; font-weight: bold; font-style: italic" th:if="${#fields.hasErrors('sum')}" th:errors="*{sum}"></div>
                                </div>
                                <div class="col">
                                    <p>Менеджер
                                        <select class="mySelect form-select" name="adminName"
                                                aria-label="Default select example">
                                            <option>Виберите...</option>
                                            <option th:each="admin:${admins}" th:value="${admin.firstName}" th:field="*{adminName}"
                                                    th:text="${admin.firstName}"></option>
                                        </select>
                                    <div style="color: red; font-size: small; font-weight: bold; font-style: italic" th:if="${#fields.hasErrors('adminName')}" th:errors="*{adminName}"></div>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: flex-end;">
                                <a href="/admin/account-transaction/index/1" class="btn btn-outline-secondary"
                                   style="margin-right: 3px">
                                    Отменить
                                </a>
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>

                            <label for="exampleFormControlTextarea1" class="form-label"
                                   style="margin-top: 10px">Комментарий</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" th:field="*{comment}"
                                      rows="3"></textarea>
                            <div style="color: red; font-size: small; font-weight: bold; font-style: italic" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="main-footer">
            Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
                href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
            Документация API доступна <a href="/doc">по ссылке</a>.
        </footer>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>

</body>

</html>