<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('formSend');
            var inputs = form.querySelectorAll('input');
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener('input', function () {
                    this.form.isFormDirty = true;
                });
            }
            document.addEventListener('click', function (event) {
                if (form.isFormDirty) {
                    form.submit();
                }
            });
        });
    </script>
</head>

<body class="sidebar-mini layout-fixed sidebar-closed sidebar-collapse" style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper text-for-breadcrumb">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 20px; margin-right: auto;">Касса</h4>
            <ol class="breadcrumb" style="margin-right: 3%">
                <li class="breadcrumb-item"><a href="/admin" class="text-for-breadcrumb">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Касса</li>
            </ol>
        </div>
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="small-box bg-green overflow-hidden">
                                <div class="inner">
                                    <h3 id="cashboxBalance">0.00 грн</h3>
                                    <p>Состояние кассы</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dollar-sign"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="small-box bg-blue overflow-hidden">
                                <div class="inner">
                                    <h3 id="accountBalance">0.00 грн</h3>
                                    <p>Баланс по счетам</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dollar-sign" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="small-box bg-red overflow-hidden">
                                <div class="inner">
                                    <h3 id="accountDebts">0.00 грн</h3>
                                    <p>Задолженность по счетам</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dollar-sign" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <div class="btn-group margin-bottom float-right ">
                        <button type="button" class="btn btn-success dropdown-toggle" style="width: 230px;"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" fdprocessedid="729zhf">
                            Выберите действие
                        </button>
                        <ul class="dropdown-menu" style="width: 230px;">
                            <li><a class="text-secondary" href="/admin/account-transaction/create/in"
                                   style="padding-inline: 15px; display: block; text-decoration: none;">Создать
                                приход</a></li>
                            <li><a class="text-secondary" href="/admin/account-transaction/create/out"
                                   style="padding-inline: 15px; display: block; text-decoration: none;">Создать
                                расход</a></li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="card">
                <div class="card-header">
                    <a href="/admin/account-transaction/index/1"
                       class="btn btn-outline-secondary float-right">Очистить</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <form id="formSend" method="get" action="/admin/account-transaction/filter/1"
                              onsubmit="event.preventDefault()">
                            <table class="table table-bordered table-hover table-striped table-sm">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Дата</th>
                                    <th>Статус</th>
                                    <th>Тип платежа</th>
                                    <th>Владелец</th>
                                    <th>Лицевой счет</th>
                                    <th>Приход/расход</th>
                                    <th>Сумма (грн)</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th><input name="id" type="number" class="form-control"
                                               th:value="${accountTransaction.getId() != null ? accountTransaction.getId() : ''}">
                                    </th>
                                    <th>
                                        <input name="date" id="daterange" type="text" class="form-control"
                                               th:value="${accountTransaction.getDate() != null ? accountTransaction.getDate() : ''}"
                                               readonly>
                                    </th>
                                    <th>
                                        <select class=" form-select" name="addToStats"
                                                aria-label="Default select example" onchange="submitForm()">
                                            <option>
                                            </option>
                                            <option value="true" th:selected="${accountTransaction.getAddToStats() == true}">Проведен</option>
                                            <option value="false" th:selected="${accountTransaction.getAddToStats() == false}">Не проведен</option>
                                        </select>
                                    </th>
                                    <th>
                                        <select class=" form-select" name="transactionPurposeName" onchange="submitForm()"
                                                aria-label="Default select example">
                                            <option th:value="${accountTransaction.getTransactionPurposeName() != null ? accountTransaction.getTransactionPurposeName() : ''}"
                                                    th:text="${accountTransaction.getTransactionPurposeName() != null ? accountTransaction.getTransactionPurposeName() : ''}"></option>
                                            <option th:each="transaction:${transactionPurposeList}"
                                                    th:value="${transaction.getName() != accountTransaction.getTransactionPurposeName() ? transaction.getName() : null}"
                                                    th:text="${transaction.getName() != accountTransaction.getTransactionPurposeName() ? transaction.getName() : null}"></option>
                                        </select>
                                    </th>
                                    <th><input name="userName" type="text" class="form-control"
                                               th:value="${accountTransaction.getUserName() != null ? accountTransaction.getUserName() : ''}">
                                    </th>
                                    <th><input name="scoreNumber" type="number" class="form-control"
                                               th:value="${accountTransaction.getScoreNumber() != null ? accountTransaction.getScoreNumber() : ''}">
                                    </th>
                                    <th>
                                        <select class=" form-select" name="isIncome"
                                                aria-label="Default select example" onchange="submitForm()">
                                            <option>
                                            </option>
                                            <option value="true" th:selected="${accountTransaction.getIsIncome() == true}">Приход</option>
                                            <option value="false" th:selected="${accountTransaction.getIsIncome() == false}">Расход</option>
                                        </select>
                                    </th>
                                    <th></th>
                                    <th>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="clickable-row" th:each="transaction:${accountTransactionList}"
                                    th:data-action="@{/admin/account-transaction/{id}(id=${transaction.getId()})}">
                                    <td th:text="${transaction.getId()}"></td>
                                    <td th:text="${transaction.getDate()}"></td>
                                    <td>
                                        <span th:text="${transaction.getAddToStats() == true ? 'Проведен' : 'Не проведен'}"></span>
                                    </td>
                                    <td th:text="${transaction.getTransactionPurposeName()}"></td>
                                    <td th:text="${transaction.getUserName()}"></td>
                                    <td th:text="${transaction.getScoreNumber()}"></td>
                                    <td>
                                        <span th:text="${transaction.getIsIncome() == true ? 'Приход' : 'Разход'}"></span>
                                    </td>
                                    <td th:text="${transaction.getSum()}"></td>

                                    <td>
                                        <div class="btn-group pull-right">
                                            <a class="btn btn-default btn-sm"
                                               th:href="${transaction.getIsIncome() ?
                                                '/admin/account-transaction/update/in/' + transaction.getId() :
                                                '/admin/account-transaction/update/out/' + transaction.getId()}"
                                               title="Редактировать" data-toggle="tooltip">
                                                <i class="fa fa-pencil-alt"></i>
                                            </a>
                                            <a class="btn btn-default btn-sm"
                                               th:href="@{/admin/account-transaction/delete/{id}(id = ${accountTransaction.getId()})}"
                                               title="Удалить" data-toggle="tooltip"
                                               data-pjax="0" data-method="post"
                                               data-confirm="Вы уверены, что хотите удалить этот элемент?"><i
                                                    class="fa fa-trash"></i></a></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Проведен приход: <span th:text="${sumWhereIsIncomeIsTrue}"></span></b>
                                <br/>
                                <b>Проведен расход: <span th:text="${sumWhereIsIncomeIsFalse}"></span></b>
                            </p>
                        </div>
                        <div th:if="${max}>0">
                            <div class="col">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <script>
                                        var pageNumber = [[${current}]] - 1;
                                        var afterQuestionMark = '';
                                        if (window.location.href.includes('filter')) {
                                            var parts = window.location.href.split('?');
                                            afterQuestionMark = '?' + parts[1];
                                            var baseUrl = '/admin/account-transaction/filter/';
                                        } else {
                                            var baseUrl = '/admin/account-transaction/index/';
                                        }

                                        if ([[${current}]] <= 1) document.write('<li class="page-item"><button class="page-link" disabled="disabled"><</button></li>');
                                        else document.write('<li class="page-item"><a class="page-link" href="' + (baseUrl + pageNumber + afterQuestionMark) + '"><</a></li>');
                                    </script>
                                    <ul class="pagination pagination-sm m-0 float-right" id="pagination-example">
                                        <script src="/pagination.js" data-url="admin/account-transaction/index/"
                                                th:current="${current}"
                                                th:max="${max+1}"></script>
                                    </ul>
                                    <script>
                                        var pageNumber = [[${current}]] + 1;
                                        var afterQuestionMark = '';
                                        if (window.location.href.includes('filter')) {
                                            var parts = window.location.href.split('?');
                                            afterQuestionMark = '?' + parts[1];
                                            var baseUrl = '/admin/account-transaction/filter/';
                                        } else {
                                            var baseUrl = '/admin/account-transaction/index/';
                                        }
                                        console.log([[${current}]])
                                        if ([[${current}]] > [[${max}]]) document.write('<li class="page-item"><button class="page-link" disabled="disabled">></button></li>');
                                        else document.write('<li class="page-item"><a class="page-link" href="' + (baseUrl + pageNumber + afterQuestionMark) + '">></a></li>');
                                    </script>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
            href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        Документация API доступна <a href="/doc">по ссылке</a>.
    </footer>
</div>

<script src="/adminlte/plugins/jquery/jquery.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/dist/js/demo.js"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>