<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>

<body class="sidebar-mini layout-fixed sidebar-closed sidebar-collapse" style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper text-for-breadcrumb">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 10px; margin-right: auto;">
                <span th:text="#{Новая_приходная_ведомость}"></span>
            </h4>
            <ol class="breadcrumb text-for-breadcrumb" style="margin-right: 1%;">
                <li class="breadcrumb-item"><a href="/admin" class="text-for-breadcrumb">
                    <span th:text="#{Главная}"></span>
                </a>
                </li>
                <li class="breadcrumb-item"><a href="/admin/account-transaction/index/1" class="text-for-breadcrumb">
                    <span th:text="#{Платежи}"></span>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span th:text="#{Приходная_ведомость}"></span>
                    №
                    [[${accountTransaction.getNumber()}]]
                </li>
            </ol>
        </div>
        <section class="content">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text">№</span>
                        <input type="number" class="form-control" name="id" th:value="${accountTransaction.getId()}"
                               readonly>
                        <p style="margin-left: 10px; margin-right: 10px;">от</p>
                        <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        <input type="date" name="date" class="form-control"
                               th:value="${accountTransaction.getDate()}">
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="container">
                        <div class="row">
                            <div class="col" style="font-weight: bold; font-size: 22px; color: #484646">
                                <span th:text="#{Приходная_ведомость}"></span>
                            </div>
                            <div class="col">
                                <div class="float-right">
                                    <a class="btn btn-outline-secondary"
                                       th:href="${accountTransaction.getIsIncome() ? '/admin/account-transaction/copy/in/' + accountTransaction.getId() : '/admin/account-transaction/copy/out/' + accountTransaction.getId()}">
                                        <span th:text="#{Копировать}"></span>
                                        </a>
                                    <a class="btn btn-outline-secondary"
                                       th:href="@{/admin/account-transaction/delete/{id}(id=${accountTransaction.getId()})}">
                                        <span th:text="#{Удалить}"></span>
                                        </a>
                                    <a class="btn btn-primary"
                                       th:href="${accountTransaction.getIsIncome() ? '/admin/account-transaction/update/in/' + accountTransaction.getId() : '/admin/account-transaction/update/out/' + accountTransaction.getId()}"
                                       title="Редактировать" data-toggle="tooltip">
                                        <span th:text="#{Редактировать}"></span>
                                        </a>
                                    <a class="btn btn-outline-secondary " href="">
                                        <span th:text="#{Вигрузить_в_Exel}"></span>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table" style="font-weight: bold;">
                        <tr>
                            <td style="width: 50%">
                                Владелец квартиры
                            </td>
                            <td style="width: 50%">
                                [[${accountTransaction.getUserName()}]]
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Лицевой счет
                            </td>
                            <td>
                                [[${accountTransaction.scoreNumber}]]
                            </td>
                        </tr><tr>
                        <td>
                            Статья
                        </td>
                        <td>
                            [[${accountTransaction.getTransactionPurposeName()}]]
                        </td>
                        <tr>
                            <td>
                                Менеджер
                            </td>
                            <td>
                                [[${accountTransaction.getAdminName()}]]
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Сумма
                            </td>
                            <td>
                                [[${accountTransaction.getSum()}]]
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Комментарий
                            </td>
                            <td>
                                [[${accountTransaction.getComment()}]]
                            </td>
                        </tr>
                        </tr>
                    </table>
                </div>
                <div class="row" style="font-weight: bold;">
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
            href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        Документация API доступна <a href="/doc">по ссылке</a>.
    </footer>
</div>

<script src="/adminlte/plugins/jquery/jquery.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/dist/js/demo.js"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
</body>

</html>