<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">

</head>

<body class="sidebar-mini layout-fixed sidebar-closed sidebar-collapse" th:classappend="${theme == 'LIGHT' ? '' : 'dark-mode'}" style="height: auto;">
<form method="post" th:action="@{/admin/account-transaction/update/in/{id}(id=${accountTransaction.getId()})}"
      th:object="${accountTransactionInDTO}">
    <div class="wrapper">
        <div th:replace="blocks/menu :: menu"></div>
        <div class="content-wrapper">
            <div class="content-header" style="display: flex; align-items: center;">
                <h4 style="margin-left: 10px; margin-right: auto;">
                    <span th:text="#{Новая_приходная_ведомость}"></span>
                </h4>
                <ol class="breadcrumb text-for-breadcrumb" style="margin-right: 1%;">
                    <li class="breadcrumb-item"><a href="/admin" class="text-for-breadcrumb">
                        <span th:text="#{Главная}"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/admin/account-transaction/index/1" class="text-for-breadcrumb">
                        <span th:text="#{Платежи}"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <span th:text="#{Новая_приходная_ведомость}"></span>
                    </li>
                </ol>
            </div>
            <section class="content">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text">№</span>
                            <input type="number" class="form-control" name="number" th:value="${accountTransaction.getNumber()}">
                            <p style="margin-left: 10px; margin-right: 10px;">от</p>
                            <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            <input type="date" name="date" class="form-control"
                                   th:value="${accountTransaction.getDate()}">
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" name="addToStats" type="checkbox"
                                               id="flexCheckDefault"
                                               checked th:value="${accountTransaction.isIncome()}">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <span th:text="#{Проведен}"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="font-weight: bold;">
                                <div class="col">
                                    <p style="margin-top: 20px;">
                                        <span th:text="#{Владелец_квартиры}"></span>
                                        <select class="mySelect form-select" name="userName"
                                                aria-label="Default select example">
                                            <option th:value="${accountTransaction.getUserName()}"
                                                    th:text="${accountTransaction.getUserName()}"></option>
                                            <option th:each="user:${users}" th:value="${user.firstName}"
                                                    th:field="*{userName}"
                                                    th:text="${user.firstName}"></option>
                                        </select>
                                    <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                         th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
                                    <p style="margin-top: 20px;">
                                        <span th:text="#{Лицевой_счет}"></span>
                                    </p>
                                    <select class="mySelect form-select" name="scoreId"
                                            aria-label="Default select example">
                                        <option th:value="${accountTransaction.getScoreId()}"
                                                th:text="${accountTransaction.getScoreId()}"></option>
                                        <option th:each="score:${scores}" th:value="${score.id}" th:field="*{scoreId}"
                                                th:text="${score.id}"></option>
                                    </select>
                                    <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                         th:if="${#fields.hasErrors('scoreId')}" th:errors="*{scoreId}"></div>

                                    <p style="margin-top: 20px;">
                                        <span th:text="#{Статья}"></span>
                                        </p>
                                    <select class="mySelect form-select" name="transactionPurposeName"
                                            aria-label="Default select example">
                                        <option th:value="${accountTransaction.getTransactionPurposeName()}"
                                                th:text="${accountTransaction.getTransactionPurposeName()}"></option>
                                        <option th:each="transactionPurpose:${transactionPurposes}"
                                                th:field="*{transactionPurposeName}"
                                                th:value="${transactionPurpose.name}"
                                                th:text="${transactionPurpose.name}"></option>
                                    </select>
                                    <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                         th:if="${#fields.hasErrors('transactionPurposeName')}"
                                         th:errors="*{transactionPurposeName}"></div>

                                    <p style="margin-top: 20px;">
                                        <span th:text="#{Сумма}"></span>
                                        <input class="form-control" type="text" name="sum"
                                               th:value="${accountTransaction.sum}" aria-label="default input example">
                                    <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                         th:if="${#fields.hasErrors('sum')}" th:errors="*{sum}"></div>

                                </div>
                                <div class="col">
                                    <p style="margin-top: 20px;">
                                        <span th:text="#{Менеджер}"></span>

                                        <select class="mySelect form-select" name="adminName"
                                                aria-label="Default select example">
                                            <option th:value="${accountTransaction.getAdminName()}"
                                                    th:text="${accountTransaction.getAdminName()}"></option>
                                            <option th:each="admin:${admins}" th:value="${admin.firstName}"
                                                    th:text="${admin.firstName}"></option>
                                        </select>
                                    <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                         th:if="${#fields.hasErrors('adminName')}" th:errors="*{adminName}"></div>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: flex-end;">
                                <a href="/admin/account-transaction/index/1" class="btn btn-outline-secondary"
                                   style="margin-right: 3px">
                                    <span th:text="#{Отменить}"></span>

                                </a>
                                <button type="submit" class="btn btn-success">
                                    <span th:text="#{Сохранить}"></span>
                                    </button>
                            </div>

                            <label for="exampleFormControlTextarea1" class="form-label"
                                   style="margin-top: 10px">
                                <span th:text="#{Комментарий}"></span>
                                </label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="comment"
                                      rows="3">[[${accountTransaction.comment}]]</textarea>
                            <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                 th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="main-footer">
            Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
                href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
            Документация API доступна <a href="/doc">по ссылке</a>.
        </footer>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
</body>
</html>