<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          th:href="@{{context_path}/adminlte/dist/css/adminlte.min.css?v=3.2.0(context_path = ${context_path})}">
    <link rel="stylesheet"
          th:href="@{{context_path}/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css(context_path = ${context_path})}">
    <link rel="stylesheet" th:href="@{{context_path}/style.css(context_path = ${context_path})}">
    <link rel="stylesheet"
          th:href="@{{context_path}/adminlte/plugins/fontawesome-free/css/all.min.css(context_path = ${context_path})}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>

<body class="sidebar-mini layout-fixed sidebar-closed -collapse" th:classappend="${theme == 'LIGHT' ? '' : 'dark-mode'}"
      style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper text-for-breadcrumb">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 10px; margin-right: auto;">
                <span th:text="#{Charts}"></span>
            </h4>
        </div>
        <section class="content">
            <span style="font-size: 24px" th:text="#{В_вашем_обслуживании}"></span>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-green overflow-hidden">
                            <div class="inner">
                                <h3>[[${houses}]]</h3>
                                <p>
                                    <span th:text="#{Домов}"></span>
                                </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-building"></i>
                            </div>
                            <a th:href="@{{context_path}/admin/house/index/1(context_path = ${context_path})}"
                               class="small-box-footer">
                                <span th:text="#{Перейти_к_домам}"></span> <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>


                        <div class="small-box bg-green overflow-hidden">
                            <div class="inner">
                                <h3>[[${flats}]]</h3>
                                <p>
                                    <span th:text="#{Квартир}"></span>
                                </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-key"></i>
                            </div>
                            <a th:href="@{{context_path}/admin/flat/index/1(context_path = ${context_path})}"
                               class="small-box-footer">
                                <span th:text="#{Перейти_к_квартирам}"></span> <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-blue overflow-hidden">
                            <div class="inner">
                                <h3 id="accountBalance">[[${users}]]</h3>
                                <p>
                                    <span th:text="#{Активных_владельцев}"></span>
                                </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <a th:href="@{{context_path}/admin/user/index/1(context_path = ${context_path})}"
                               class="small-box-footer">
                                <span th:text="#{Перейти_к_владельцам}"></span> <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                        <div class="small-box bg-blue overflow-hidden">
                            <div class="inner">
                                <h3>[[${scores}]]</h3>
                                <p>
                                    <span th:text="#{Лицевых_счетов}"></span>
                                </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-child" aria-hidden="true"></i>
                            </div>
                            <a th:href="@{{context_path}/admin/account/index/1(context_path = ${context_path})}"
                               class="small-box-footer">
                                <span th:text="#{Перейти_к_счетам}"></span> <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-red overflow-hidden">
                            <div class="inner">
                                <h3>[[${masterInProgress}]]</h3>
                                <p>
                                    <span th:text="#{Master_app_in_progress}"></span>
                                </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                            </div>
                            <a th:href="@{{context_path}/admin/master-request/index/1(context_path = ${context_path})}"
                               class="small-box-footer">
                                <span th:text="#{Go_to_master_applications}"></span><i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                        <div class="small-box bg-red overflow-hidden">
                            <div class="inner">
                                <h3>[[${masterNew}]]</h3>
                                <p>
                                    <span th:text="#{New_master}"></span>
                                </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </div>
                            <a th:href="@{{context_path}/admin/master-request/index/1(context_path = ${context_path})}"
                               class="small-box-footer">
                                <span th:text="#{Go_to_master_applications}"></span> <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="card">
                            <div class="card-header">
                                <div>
                                    <canvas id="myChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fa fa-money-bill"></i></span>
                            <div class="info-box-content">
                                <span th:text="#{Состояние_кассы}"></span>
                                <h3>[[${sumAccountTransactionForStats}]]</h3>
                            </div>
                        </div>
                        <div class="info-box">
                            <span class="info-box-icon bg-blue"><i class="fa fa-money-bill"></i></span>
                            <div class="info-box-content">
                                <span th:text="#{Баланс_по_счетам}"></span>
                                <h3>[[${balanceScoreForStats}]]</h3>
                            </div>
                        </div>
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="fa fa-money-bill"></i></span>
                            <div class="info-box-content">
                                <span th:text="#{Задолженность_по_счетам}"></span>
                                <h3 id="accountDebts">[[${sumWhereIsIncomeIsFalse}]]</h3>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
    <footer class="main-footer">
        Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
            href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        Документация API доступна <a href="/doc">по ссылке</a>.
    </footer>
</div>

<script th:src="@{{context_path}/adminlte/plugins/jquery/jquery.min.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/dist/js/adminlte.js?v=3.2.0(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/dist/js/demo.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/script.js(context_path = ${context_path})}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');
    var values = [[${values}]]
    var months = '[[${months}]]'.replace('[', '').replace(']', '').split(', ');

    console.log(months)
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: months,
            datasets: [{
                label: 'График приходов и расходов по кассе, грн',
                data: values,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
</body>

</html>