<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>

<body class="sidebar-mini layout-fixed sidebar-closed -collapse" style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper text-for-breadcrumb">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 20px; margin-right: auto;">
                Лицевой счет            </h4>
            <ol class="breadcrumb" style="margin-right: 3%">
                <li class="breadcrumb-item"><a href="/admin" class="text-for-breadcrumb">Главная</a></li>
                <li class="breadcrumb-item"><a href="/admin/account/index/1" class="text-for-breadcrumb">Лицевые счета</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Лицевой счет №[[${scoreDto.number}]]
                </li>
            </ol>
        </div>
        <section class="content">
            <div class="input-group mb-3" style="width: 25%; margin-left: 25px;">
                <span class="input-group-text" id="basic-addon1">№</span>
                <input type="text" th:field="*{scoreDto.number}" class="form-control" readonly>
            </div>
            <div class="card">
                <div class="card-body" style="font-weight: bold">
                    Просмотр лицевого счета
                    <div class="float-right">
                        <a class="btn btn-outline-secondary" href="">
                            <i class="fa fa-dollar-sign"></i>   Принять платеж
                        </a>
                        <a class="btn btn-outline-secondary" href="">
                            <i class="fa fa-file"></i>   Оформить квитанцию
                        </a>
                        <a class="btn btn-primary" th:href="@{/admin/account/edit/{id}(id=${scoreDto.getId()})}">
                            Редактировать квартиру
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-view"
                           style="font-size: 13px; font-weight: bold">
                        <tbody>
                            <tr>
                                <td>
                                    Статус
                                </td>
                                <td>
                                    <span th:switch="${scoreDto.getStatus()}">
                                        <span th:case="Активен" class="status status-new">Активен</span>
                                        <span th:case="Неактивен" class="status status-disabled">Неактивен</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Дом
                                </td>
                                <td>
                                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" th:href="@{/admin/house/{id}(id = ${scoreDto.flat.house.getId()})}">[[${scoreDto.flat.house.name}]]</a><br/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Секция
                                </td>
                                <td>
                                    [[${scoreDto.flat.section.name}]]
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Квартира
                                </td>
                                <td>
                                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" th:href="@{/admin/flat/{id}(id = ${scoreDto.flat.id})}">[[${scoreDto.flat.number}]]</a><br/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Владелец
                                </td>
                                <td>
                                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" th:href="@{/admin/user/{id}(id = ${scoreDto.flat.user.id})}">[[${scoreDto.flat.user.firstName}]]</a><br/>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Остаток, грн.
                                </td>
                                <td>
                                    [[${scoreDto.balance}]]
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="">Посмотреть показания счетчиков</a><br/>
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="">Посмотреть приходы</a><br/>
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="">Посмотреть квитанции</a>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
            href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        Документация API доступна <a href="/doc">по ссылке</a>.
    </footer>
</div>

<script src="/adminlte/plugins/jquery/jquery.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/dist/js/demo.js"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</body>

</html>