<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          th:href="@{{context_path}/adminlte/dist/css/adminlte.min.css?v=3.2.0(context_path = ${context_path})}">
    <link rel="stylesheet"
          th:href="@{{context_path}/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css(context_path = ${context_path})}">
    <link rel="stylesheet" th:href="@{{context_path}/style.css(context_path = ${context_path})}">
    <link rel="stylesheet"
          th:href="@{{context_path}/adminlte/plugins/fontawesome-free/css/all.min.css(context_path = ${context_path})}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>

<body class="sidebar-mini layout-fixed sidebar-closed -collapse" th:classappend="${theme == 'LIGHT' ? '' : 'dark-mode'}"
      style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper text-for-breadcrumb">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 10px; margin-right: auto;">
                <span th:text="#{Лицевой_счет}"></span>
            </h4>
            <ol class="breadcrumb" style="margin-right: 1%">
                <li class="breadcrumb-item"><a th:href="@{{context_path}/admin(context_path = ${context_path})}"
                                               class="text-for-breadcrumb">
                    <span th:text="#{Главная}"></span>
                </a></li>
                <li class="breadcrumb-item"><a
                        th:href="@{{context_path}/admin/account/index/1(context_path = ${context_path})}"
                        class="text-for-breadcrumb">
                    <span th:text="#{Лицевые_счета}"></span>
                </a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span th:text="#{Лицевой_счет}"></span>
                    №[[${scoreDto.number}]]
                </li>
            </ol>
        </div>
        <section class="content">
            <div class="input-group mb-3" style="width: 25%">
                <span class="input-group-text" id="basic-addon1">№</span>
                <input type="text" th:field="*{scoreDto.number}" class="form-control" readonly>
            </div>
            <div class="card">
                <div class="card-body" style="font-weight: bold">
                    <span th:text="#{Просмотр_лицевого_счета}"></span>
                    <div class="float-right">
                        <a class="btn btn-outline-secondary"
                           th:href="@{{context_path}/admin/account-transaction/create/in?scoreId={id}(context_path = ${context_path}, id = ${scoreDto.getId()})}">
                            <i class="fa fa-dollar-sign"></i>
                            <span th:text="#{Принять_платеж}"></span>
                        </a>
                        <a class="btn btn-outline-secondary"
                           th:href="@{{context_path}/admin/invoice/add(context_path = ${context_path})}">
                            <i class="fa fa-file"></i>
                            <span th:text="#{Оформить_квитанцию}"></span>
                        </a>
                        <a class="btn btn-primary"
                           th:href="@{{context_path}/admin/account/edit/{id}(id=${scoreDto.getId()}, context_path = ${context_path})}">
                            <span th:text="#{Редактировать_счет}"></span>

                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-view"
                           th:classappend="${theme == 'LIGHT' ? '' : 'table-dark'}"
                           style="font-size: 13px; font-weight: bold">
                        <tbody>
                        <tr>
                            <td>
                                <span th:text="#{Статус}"></span>
                            </td>
                            <td>
                                    <span th:switch="${scoreDto.getStatus()}">
                                        <span th:case="Активен" class="status status-new">Активен</span>
                                        <span th:case="Неактивен" class="status status-disabled">Неактивен</span>
                                    </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span th:text="#{Дом}"></span>

                            </td>
                            <td>
                                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:href="@{{context_path}/admin/house/{id}(id = ${scoreDto.flat.house.getId()}, context_path = ${context_path})}">[[${scoreDto.flat.house.name}]]</a><br/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span th:text="#{Секция}"></span>
                            </td>
                            <td>
                                [[${scoreDto.flat.section.name}]]
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span th:text="#{Квартира}"></span>
                            </td>
                            <td>
                                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:href="@{{context_path}/admin/flat/{id}(id = ${scoreDto.flat.id}, context_path = ${context_path})}">[[${scoreDto.flat.number}]]</a><br/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span th:text="#{Владелец}"></span>

                            </td>
                            <td>
                                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:href="@{{context_path}/admin/user/{id}(id = ${scoreDto.flat.user.id}, context_path = ${context_path})}">[[${scoreDto.flat.user.firstName}]]</a><br/>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span th:text="#{Остаток_грн}"></span>
                            </td>
                            <td>
                                [[${scoreDto.balance}]]
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div th:if="${scoreDto.flat.counterData.size() != 0}">
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                           th:href="@{{context_path}/admin/counter-data/counter-list/{id}(id=${scoreDto.flat.id}, context_path = ${context_path})}">Посмотреть
                            показания счетчиков</a><br/>
                    </div>
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                           th:href="@{{context_path}/admin/account-transaction/filter/1?id=&date=&addToStats=&transactionPurposeName=&userName=&scoreNumber={id}&isIncome=(id=${scoreDto.id}, context_path = ${context_path})}">Посмотреть
                            приходы</a><br/>
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                           th:href="@{{context_path}/admin/invoice/filter/1?number=&status=&dateExample=&months=&flatNumber={id}&addToStats=(id=${scoreDto.flat.number}, context_path = ${context_path})}">Посмотреть
                            квитанции</a>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
            href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        Документация API доступна <a href="/doc">по ссылке</a>.
    </footer>
</div>

<script th:src="@{{context_path}/adminlte/plugins/jquery/jquery.min.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/dist/js/adminlte.js?v=3.2.0(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/dist/js/demo.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/script.js(context_path = ${context_path})}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</body>

</html>