<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('formSend');
            var inputs = form.querySelectorAll('input');
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener('input', function () {
                    this.form.isFormDirty = true;
                });
            }
            document.addEventListener('click', function (event) {
                if (form.isFormDirty) {
                    form.submit();
                }
            });
        });
    </script>
</head>

<body class="sidebar-mini layout-fixed sidebar-closed -collapse" style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper text-for-breadcrumb">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 20px; margin-right: auto;">
                Владельцы квартир
            </h4>
            <ol class="breadcrumb" style="margin-right: 3%">
                <li class="breadcrumb-item"><a href="/admin" class="text-for-breadcrumb">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Владельцы квартир
                </li>
            </ol>
        </div>
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-lg-9">
                </div>
                <div class="col-xs-12 col-lg-3">
                    <div class="btn-group margin-bottom float-right">
                        <button type="button" class="btn btn-success dropdown-toggle"
                                style="width: 220px; margin-bottom: 20px"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" fdprocessedid="729zhf">
                            Выберите действие
                        </button>
                        <ul class="dropdown-menu" style="width: 260px; font-size: 14px; margin-right: 15px">
                            <li><a class="text-secondary" href="/admin/user/add"
                                   style="padding-inline: 15px; display: block; text-decoration: none;">Добавить
                                владельца кваартиры</a></li>
                            <li><a class="text-secondary" href="/admin/account-transaction/create/out"
                                   style="padding-inline: 15px; display: block; text-decoration: none;">Отправить
                                сообщение должникам</a></li>
                            <li><a class="text-secondary" href="/admin/user/invite"
                                   style="padding-inline: 15px; display: block; text-decoration: none;">Отправить
                                приглашение</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a href="/admin/user/index/1"
                       class="btn btn-outline-secondary float-right">Очистить</a>
                </div>
                <div class="card-body">
                    <form id="formSend" method="get" action="/admin/user/filter/1"
                          onsubmit="event.preventDefault()">
                        <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-sm"
                               style="font-size: 14px">
                            <thead>
                            <tr>
                                <th style="min-width: 120px;">Id</th>
                                <th style="min-width: 150px;">ФИО</th>
                                <th style="min-width: 150px;">Телефон</th>
                                <th style="min-width: 200px;">Email</th>
                                <th style="min-width: 180px;">Дом</th>
                                <th style="min-width: 180px;">Квартира</th>
                                <th style="min-width: 130px;">Добавлен</th>
                                <th style="min-width: 140px;">Статус</th>
                                <th style="min-width: 140px;">Есть долг</th>
                                <th style="min-width: 100px;"></th>
                            </tr>
                            <tr>
                                <th><input name="id" type="number" class="form-control"
                                           th:value="${filter.getId()}"></th>
                                <th><input name="fullName" type="text" class="form-control"
                                           th:value="${filter.getFullName()}"></th>
                                <th><input name="phone" type="number" class="form-control"
                                           th:value="${filter.getPhone()}"></th>
                                <th><input name="email" type="text" class="form-control"
                                           th:value="${filter.getEmail()}"></th>
                                <th>
                                    <select class="form-select" name="house" onchange="submitForm()"
                                            aria-label="Default select example">
                                        <option th:value="${house}" th:text="${house}">
                                        </option>
                                        <option th:each="house:${houses}" th:value="${house}" th:text="${house}">
                                        </option>
                                    </select>
                                </th>
                                <th>
                                    <select class="form-select" name="house" onchange="submitForm()"
                                            aria-label="Default select example">
                                        <option th:value="${flat}" th:text="${flat}">
                                        </option>
                                        <option th:each="flat:${flats}" th:value="${flat}" th:text="${flat}">
                                        </option>
                                    </select>
                                </th>
                                <th><input name="dateTest" type="date" class="form-control"
                                           th:value="${filter.getDate()}"></th>
                                <th>
                                    <select class="form-select" name="status" onchange="submitForm()"
                                            aria-label="Default select example">
                                        <option th:value="${filter.getStatus()}"
                                                th:text="${#strings.toString(filter.getStatus()) == 'NEW' ? 'Новий' : #strings.toString(filter.getStatus()) == 'ACTIVE' ? 'Активний' : #strings.toString(filter.getStatus()) == 'DISABLED' ? 'Відключений' : ''}">
                                        </option>
                                        <option th:each="status: ${allStatus}" th:value="${status}"
                                                th:text="${#strings.toString(status) == 'NEW' ? 'Новий' : #strings.toString(status) == 'ACTIVE' ? 'Активний' : #strings.toString(status) == 'DISABLED' ? 'Відключений' : ''}">
                                        </option>
                                    </select>
                                </th>
                                <th>
                                    <select class="form-select" name="isDebt" onchange="submitForm()"
                                            aria-label="Default select example">
                                        <option th:selected="${filter.getIsDebt() == null}"></option>
                                        <option th:selected="${filter.getIsDebt() == true}" value="true">Да</option>
                                        <option th:selected="${filter.getIsDebt() == false}" value="false">Нет
                                        </option>
                                    </select>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="clickable-row" th:each="user:${users}"
                                th:data-action="@{/admin/user/{id}(id=${user.getId()})}">
                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getFullName()}"></td>
                                <td th:text="${user.getPhone()}"></td>
                                <td th:text="${user.getEmail()}"></td>
                                <td>
                                    <div th:each="house:${user.getHouses()}">
                                        <h5 th:text="${house}"></h5>
                                    </div>
                                </td>
                                <td>
                                    <div th:each="flat:${user.getFlats()}">
                                        <h5 th:text="${flat}"></h5>
                                    </div>
                                </td>
                                <td th:text="${user.getDate()}"></td>
                                <td>
                                        <span th:switch="${user.getStatus()}">
                                            <span th:case="NEW" class="status status-new">Новий</span>
                                            <span th:case="ACTIVE" class="status status-active">Активний</span>
                                            <span th:case="DISABLED" class="status status-disabled">Відключений</span>
                                        </span>
                                </td>

                                <td th:text="${user.getIsDebt() == true ? 'Да' : 'Нет'}"></td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-default btn-sm"
                                           th:href="message"
                                           title="Повідомлення" data-toggle="tooltip">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                        <a class="btn btn-default btn-sm"
                                           th:href="@{/admin/user/edit/{id}(id=${user.getId()})}"
                                           title="Редактировать" data-toggle="tooltip">
                                            <i class="fa fa-pencil-alt"></i>
                                        </a>
                                        <a class="btn btn-default btn-sm"
                                           th:href="@{/admin/user/delete/{id}(id=${user.getId()})}"
                                           title="Удалить" data-toggle="tooltip"
                                           data-pjax="0" data-method="post"
                                           onclick="return confirmDelete();"><i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </form>
                    <div class="table-responsive">

                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Количество владельцев: <span th:text="${userCount}"></span></b>
                            </p>
                        </div>
                        <div th:if="${max}>1">
                            <div class="col">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <script>
                                        var pageNumber = [[${current}]] - 1;
                                        var afterQuestionMark = '';
                                        if (window.location.href.includes('filter')) {
                                            var parts = window.location.href.split('?');
                                            afterQuestionMark = '?' + parts[1];
                                            var baseUrl = '/admin/user/filter/';
                                        } else {
                                            var baseUrl = '/admin/user/index/';
                                        }

                                        if ([[${current}]] <= 1) document.write('<li class="page-item"><button class="page-link" disabled="disabled">«</button></li>');
                                        else document.write('<li class="page-item"><a class="page-link" href="' + (baseUrl + pageNumber + afterQuestionMark) + '">«</a></li>');
                                    </script>
                                    <ul class="pagination pagination-sm m-0 float-right" id="pagination-example">
                                        <script src="/pagination.js" data-url="admin/user/index/"
                                                th:current="${current}"
                                                th:max="${max+1}"></script>
                                    </ul>
                                    <script>
                                        var pageNumber = [[${current}]] + 1;
                                        var afterQuestionMark = '';
                                        if (window.location.href.includes('filter')) {
                                            var parts = window.location.href.split('?');
                                            afterQuestionMark = '?' + parts[1];
                                            var baseUrl = '/admin/user/filter/';
                                        } else {
                                            var baseUrl = '/admin/user/index/';
                                        }
                                        console.log([[${current}]])
                                        if ([[${current}]] > [[${max}]]) document.write('<li class="page-item"><button class="page-link" disabled="disabled">»</button></li>');
                                        else document.write('<li class="page-item"><a class="page-link" href="' + (baseUrl + pageNumber + afterQuestionMark) + '">»</a></li>');
                                    </script>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
            href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        Документация API доступна <a href="/doc">по ссылке</a>.
    </footer>
</div>

<script src="/adminlte/plugins/jquery/jquery.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/dist/js/demo.js"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</body>

</html>