<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="sidebar-mini layout-fixed sidebar-closed sidebar-collapse" style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 20px; margin-right: auto;">Касса</h4>
            <ol class="breadcrumb" style="margin-right: 3%">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Касса</li>
            </ol>
        </div>

        <div class="card" style="width: 96%;margin-left: 2%;">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="myTable" class="table table-bordered table-hover table-striped table-sm">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Дата</th>
                            <th>Статус</th>
                            <th>Тип платежа</th>
                            <th>Владелец</th>
                            <th>Лицевой счет</th>
                            <th>Приход/расход</th>
                            <th>Сумма (грн)</th>
                        </tr>
                        <tr>
                            <th><input type="number" class="form-control"></th>
                            <th><input type="date" class="form-control"></th>
                            <th><input type="text" class="form-control"></th>
                            <th><input type="text" class="form-control"></th>
                            <th><input type="text" class="form-control"></th>
                            <th><input type="number" class="form-control"></th>
                            <th><input type="text" class="form-control"></th>
                            <th><input type="number" class="form-control"></th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <ul id="pagination" class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a id="prevPage" class="page-link" href="#">«</a></li>
                    <li class="page-item"><a id="nextPage" class="page-link" href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/adminlte/plugins/jquery/jquery.min.js"></script>
    <script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
    <script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="/script.js"></script>

</div>
</body>

</html>