<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>

<body class="sidebar-mini layout-fixed sidebar-closed sidebar-collapse" style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper text-for-breadcrumb">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 20px; margin-right: auto;">Касса</h4>
            <ol class="breadcrumb" style="margin-right: 3%">
                <li class="breadcrumb-item"><a href="/admin" class="text-for-breadcrumb">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Касса</li>
            </ol>
        </div>
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="small-box bg-green overflow-hidden">
                                <div class="inner">
                                    <h3 id="cashboxBalance">0.00 грн</h3>
                                    <p>Состояние кассы</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dollar-sign"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="small-box bg-blue overflow-hidden">
                                <div class="inner">
                                    <h3 id="accountBalance">0.00 грн</h3>
                                    <p>Баланс по счетам</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dollar-sign" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="small-box bg-red overflow-hidden">
                                <div class="inner">
                                    <h3 id="accountDebts">0.00 грн</h3>
                                    <p>Задолженность по счетам</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dollar-sign" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <div class="btn-group margin-bottom float-right ">
                        <button type="button" class="btn btn-success dropdown-toggle" style="width: 230px;"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" fdprocessedid="729zhf">
                            Выберите действие
                        </button>
                        <ul class="dropdown-menu" style="width: 230px;">
                            <li><a class="text-secondary" href="/admin/account-transaction/create/in"
                                   style="padding-inline: 15px; display: block; text-decoration: none;">Создать
                                приход</a></li>
                            <li><a class="text-secondary" href="/admin/account-transaction/create/out"
                                   style="padding-inline: 15px; display: block; text-decoration: none;">Создать
                                расход</a></li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-bordered table-hover table-striped table-sm">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Дата</th>
                                <th>Статус</th>
                                <th>Тип платежа</th>
                                <th>Владелец</th>
                                <th>Лицевой счет</th>
                                <th>Приход/расход</th>
                                <th>Сумма (грн)</th>
                                <th></th>
                            </tr>
                            <tr>
                                <form id="myFormForAccountTransaction" method="post" action="/admin/account-transaction/ajax">
                                <th><input name="id" type="number" class="form-control"></th>
                                <th><input name="date"  type="date" class="form-control"></th>
                                <th><input name="status" type="text" class="form-control"></th>
                                <th><input name="transactionPurpose" type="text" class="form-control"></th>
                                <th><input name="admin" type="text" class="form-control"></th>
                                <th><input name="score" type="number" class="form-control"></th>
                                <th><input name="isIncome" type="text" class="form-control"></th>
                                <th><input name="sum" type="text" class="form-control"></th>
                                <th></th>
                                </form>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="clickable-row" th:each="accountTransaction:${accountTransactionList}" th:data-action="@{/admin/account-transaction/{id}(id=${accountTransaction.getId()})}" >
                                <td th:text="${accountTransaction.getId() ?: 'не вибрано'}"></td>
                                <td th:text="${accountTransaction.getFromDate() ?: 'не вибрано'}"></td>
                                <td>
                                    <span th:text="${accountTransaction.isAddToStats() ? 'Проведен' : 'Не проведен'}"></span>
                                </td>
                                <td th:text="${accountTransaction.getTransactionPurpose()?.getName() ?: 'не вибрано'}"></td>
                                <td th:text="${accountTransaction.getUser()?.getName() ?: 'не вибрано'}"></td>
                                <td th:text="${accountTransaction.getScore()?.getId() ?: 'не вибрано'}"></td>
                                <td>
                                    <span th:text="${accountTransaction.isIncome() ? 'Приход' : 'Расход'}"></span>
                                </td>
                                <td th:text="${accountTransaction.getSum() ?: 'не вибрано'}"></td>

                                <td>
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-default btn-sm"
                                           th:href="${accountTransaction.isIncome() ?
             '/admin/account-transaction/update/in/' + accountTransaction.getId() :
             '/admin/account-transaction/update/out/' + accountTransaction.getId()}"
                                           title="Редактировать" data-toggle="tooltip">
                                            <i class="fa fa-pencil-alt"></i>
                                        </a>
                                        <a class="btn btn-default btn-sm"
                                           th:href="@{/admin/account-transaction/delete/{id}(id = ${accountTransaction.getId()})}"
                                           title="Удалить" data-toggle="tooltip"
                                           data-pjax="0" data-method="post"
                                           data-confirm="Вы уверены, что хотите удалить этот элемент?"><i
                                                class="fa fa-trash"></i></a></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Проведен приход: <span th:text="${sumWhereIsIncomeIsTrue}"></span></b>
                                <br/>
                                <b>Проведен расход: <span th:text="${sumWhereIsIncomeIsFalse}"></span></b>
                            </p>
                        </div>
                        <div class="col">
                            <ul id="pagination" class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a id="prevPage" class="page-link" href="#">«</a></li>
                                <li class="page-item"><a id="nextPage" class="page-link" href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
            href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        Документация API доступна <a href="/doc">по ссылке</a>.
    </footer>
</div>

<script src="/adminlte/plugins/jquery/jquery.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/dist/js/demo.js"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
</body>

</html>