<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('formSend');
            var inputs = form.querySelectorAll('input');
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener('input', function () {
                    this.form.isFormDirty = true;
                });
            }
            document.addEventListener('click', function (event) {
                if (form.isFormDirty) {
                    form.submit();
                }
            });
        });
    </script>
</head>

<body class="sidebar-mini layout-fixed sidebar-closed -collapse" th:classappend="${theme == 'LIGHT' ? '' : 'dark-mode'}" style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper text-for-breadcrumb">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 10px; margin-right: auto;">
                <span th:text="#{Показания_счетчиков}"></span>
                , [[${counters.isEmpty() ? '' : counters.get(0).getFlat().getNumber()}]]
            </h4>
            <ol class="breadcrumb" style="margin-right: 1%">
                <li class="breadcrumb-item"><a href="/admin" class="text-for-breadcrumb">
                    <span th:text="#{Главная}"></span>
                    </a></li>
                <li class="breadcrumb-item"><a href="/admin/counter-data/index/1"
                                               class="text-for-breadcrumb">
                    <span th:text="#{Счетчики}"></span>
                    </a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span th:text="#{Показания_счетчиков}"></span>
                    , [[${counters.isEmpty() ? '' : counters.get(0).getFlat().getNumber()}]]
                </li>
            </ol>
        </div>
        <section class="content">
            <div class="card">
                <div class="card-header">
                    <a th:href="@{/admin/counter-data/counter-list/{id}(id = ${id})}"
                       class="btn btn-outline-secondary float-right">Очистить</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <form id="formSend" method="get"
                              th:action="@{/admin/counter-data/counter-list/filter/{id}(id = ${id})}"
                              th:object="${filter}" onsubmit="event.preventDefault()">
                            <table class="table table-hover table-striped"  th:classappend="${theme == 'LIGHT' ? '' : 'table-dark'}">
                                <thead>
                                <tr>
                                    <th style="min-width: 80px">№</th>
                                    <th style="min-width: 100px">
                                        <span th:text="#{Статус}"></span>
                                        </th>
                                    <th style="min-width: 100px">
                                        <span th:text="#{Дата}"></span>
                                        </th>
                                    <th style="min-width: 100px">
                                        <span th:text="#{Месяц}"></span>
                                        </th>
                                    <th style="min-width: 180px">
                                        <span th:text="#{Дом}"></span>
                                        </th>
                                    <th style="min-width: 100px">
                                        <span th:text="#{Секция}"></span>
                                        </th>
                                    <th style="min-width: 110px">
                                        №<span th:text="#{Квартиры}"></span>
                                         </th>
                                    <th style="min-width: 150px">
                                        <span th:text="#{Счетчик}"></span>
                                        </th>
                                    <th style="min-width: 100px">
                                        <span th:text="#{Показания}"></span>
                                        </th>
                                    <th style="min-width: 80px">
                                        <span th:text="#{Ед.изм.}"></span>
                                        </th>
                                    <th style="min-width: 120px"></th>
                                </tr>
                                <tr>
                                    <th><input type="number" class="form-control" name="number" th:value="${number}">
                                    </th>
                                    <th>
                                        <select class="form-select" name="status" onchange="submitForm()">
                                            <option value="">Вибрати...</option>
                                            <option th:each="statuss : ${statuses}" th:text="${statuss}"
                                                    th:value="${statuss}" th:selected="${status == statuss}"></option>
                                        </select>
                                    </th>
                                    <th><input type="date" class="form-control" name="date" th:value="${date}"></th>
                                    <th></th>
                                    <th>
                                        <select id="mySelect2ForHouses" style="width: 90%;" th:field="*{house}"
                                                onchange="submitForm()">
                                            <option th:value="${filter.house}">[[${filter.getHouseName()}]]</option>
                                        </select>
                                    </th>
                                    <th>
                                        <div th:if="${sections == null}">
                                            <select class="form-select" th:field="*{section}" onchange="submitForm()"
                                                    aria-label="Default select example" style="width: 90%">
                                                <option value="">Виберите дом</option>
                                            </select>
                                        </div>
                                        <div th:if="${sections != null}">
                                            <select class="form-select" th:field="*{section}" onchange="submitForm()"
                                                    aria-label="Default select example" style="width: 90%">
                                                <option value=""></option>
                                                <option th:each="section : ${sections}" th:value="${section.id}"
                                                        th:text="${section.name}"></option>
                                            </select>
                                        </div>
                                    </th>
                                    <th>
                                        <div th:if="${sections == null}">
                                            <select class="form-select" th:field="*{flat}" onchange="submitForm()"
                                                    aria-label="Default select example" style="width: 90%">
                                                <option value="">Виберите дом</option>
                                            </select>
                                        </div>
                                        <div th:if="${sections != null}">
                                            <select class="form-select" th:field="*{flat}" onchange="submitForm()"
                                                    aria-label="Default select example" style="width: 90%">
                                                <option value=""></option>
                                                <option th:each="flat : ${flats}" th:value="${flat.id}"
                                                        th:text="${flat.number}"></option>
                                            </select>
                                        </div>
                                    </th>
                                    <th>
                                        <select id="mySelect2ForAdditionalServices" style="width: 90%;"
                                                th:field="*{additionalService}" onchange="submitForm()">
                                            <option th:value="${filter.additionalService}">
                                                [[${filter.getAdditionalServiceName()}]]
                                            </option>
                                        </select>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="counter : ${counters}" class="clickable-row" th:data-action="@{/admin/counter-data/{id}(id=${counter.id})}">
                                        <td th:text="${counter.number}"></td>
                                        <td th:text="${counter.status}"></td>
                                        <td th:text="${counter.data}"></td>
                                        <td th:text="${counter.data}"></td>
                                        <td th:text="${counter.flat.house.name}"></td>
                                        <td th:text="${counter.flat.section.name}"></td>
                                        <td th:text="${counter.flat.number}"></td>
                                        <td th:text="${counter.additionalService.name}"></td>
                                        <td style="background-color: #e0f5e0" th:text="${counter.data}"></td>
                                        <td style="background-color: #e0f5e0" th:text="${counter.additionalService.getUnitOfMeasurement().name}"></td>
                                        <td>
                                            <a class="btn btn-default btn-sm"
                                               th:href="@{/admin/counter-data/edit/{id}(id=${counter.id})}"
                                               title="Редактировать">
                                                <i class="fa fa-pencil-alt"></i>
                                            </a>
                                            <a class="btn btn-default btn-sm"
                                               th:href="@{/admin/counter-data/delete/{id}(id=${counter.id})}"
                                               title="Удалить">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
            href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        Документация API доступна <a href="/doc">по ссылке</a>.
    </footer>
</div>
<script>
    $('#mySelect2ForHouses').select2({
        ajax: {
            url: '/admin/house/get-houses',
            data: function (params) {
                var query = {
                    _search: params.term || '',
                    _page: params.page || 1
                };
                return query;
            }
        }
    }).trigger('select2:open');
</script>
<script>
    $('#mySelect2ForAdditionalServices').select2({
        ajax: {
            url: '/admin/service/get-additional-services',
            data: function (params) {
                var query = {
                    _search: params.term || '',
                    _page: params.page || 1
                };
                return query;
            }
        }
    }).trigger('select2:open');
</script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/dist/js/demo.js"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</body>

</html>