<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>

<body class="sidebar-mini layout-fixed sidebar-closed -collapse" th:classappend="${theme == 'LIGHT' ? '' : 'dark-mode'}" style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper text-for-breadcrumb">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 10px; margin-right: auto;">
                <span th:text="#{Счетчики}"></span>

            </h4>
            <ol class="breadcrumb" style="margin-right: 1%">
                <li class="breadcrumb-item"><a href="/admin" class="text-for-breadcrumb">
                    <span th:text="#{Главная}"></span>
                    </a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span th:text="#{Счетчики}"></span>

                </li>
            </ol>
        </div>
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-lg-9">
                </div>
                <div class="col-xs-12 col-lg-3">
                    <div class="btn-group margin-bottom float-right">
                        <a href="/admin/counter-data/add" type="button" class="btn btn-success"
                           style="width: 220px; margin-bottom: 20px">
                            <span th:text="#{Добавить_показание}"></span>

                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a href="/admin/counter-data/index/1"
                       class="btn btn-outline-secondary float-right">
                        <span th:text="#{Очистить}"></span>
                        </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table table-hover table-striped" th:classappend="${theme == 'LIGHT' ? '' : 'table-dark'}">
                        <thead>
                            <tr>
                                <b>
                                    <th style="min-width: 300px">
                                        <span th:text="#{Дом}"></span>
                                        </th>
                                    <th style="min-width: 200px">
                                        <span th:text="#{Секция}"></span>
                                        </th>
                                    <th style="min-width: 150px">
                                        №
                                        <span th:text="#{Квартиры}"></span>
                                        </th>
                                    <th style="min-width: 200px">
                                        <span th:text="#{Счетчик}"></span>
                                        </th>
                                    <th style="min-width: 150px">
                                        <span th:text="#{Текущие_показания}"></span>
                                        </th>
                                    <th style="min-width: 150px">
                                        <span th:text="#{Ед.изм.}"></span>
                                        </th>
                                    <th style="min-width: 100px"></th>
                                </b>
                            </tr>
                            <tr>
                                <form id="formSend" method="get" action="/admin/counter-data/filter/1" th:object="${filter}">
                                <th>
                                    <select id="mySelect2ForHouses" style="width: 90%;" th:field="*{house}" onchange="submitForm()">
                                        <option th:value="${filter.house}">[[${filter.getHouseName()}]]</option>
                                    </select>
                                </th>
                                <th>
                                    <div th:if="${sections == null}">
                                        <select class="form-select"  th:field="*{section}" onchange="submitForm()"
                                                aria-label="Default select example" style="width: 90%">
                                            <option value="">
                                                <span th:text="#{Виберите_дом}"></span>
                                                </option>
                                        </select>
                                    </div>
                                    <div th:if="${sections != null}">
                                        <select class="form-select"  th:field="*{section}" onchange="submitForm()"
                                                aria-label="Default select example" style="width: 90%">
                                            <option value=""></option>
                                            <option th:each="section : ${sections}" th:value="${section.id}" th:text="${section.name}"></option>
                                        </select>
                                    </div>
                                </th>
                                    <th>
                                        <div th:if="${sections == null}">
                                            <select class="form-select"  th:field="*{flat}" onchange="submitForm()"
                                                    aria-label="Default select example" style="width: 90%">
                                                <option value="">Виберите дом</option>
                                            </select>
                                        </div>
                                        <div th:if="${sections != null}">
                                            <select class="form-select"  th:field="*{flat}" onchange="submitForm()"
                                                    aria-label="Default select example" style="width: 90%">
                                                <option value=""></option>
                                                <option th:each="flat : ${flats}" th:value="${flat.id}" th:text="${flat.number}"></option>
                                            </select>
                                        </div>
                                    </th>
                                <th>
                                    <select id="mySelect2ForAdditionalServices" style="width: 90%;" th:field="*{additionalService}" onchange="submitForm()">
                                        <option th:value="${filter.additionalService}">[[${filter.getAdditionalServiceName()}]]</option>
                                    </select>
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                </form>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="counter : ${counters}" class="clickable-row" th:data-action="@{/admin/counter-data/counter-list/{id}(id=${counter.id})}">
                                <td th:text="${counter.flat.house.name}"></td>
                                <td th:text="${counter.flat.section.name}"></td>
                                <td th:text="${counter.flat.number}"></td>
                                <td th:text="${counter.additionalService.name}"></td>
                                <td style="background-color: #e0f5e0" th:text="${counter.data}"></td>
                                <td style="background-color: #e0f5e0" th:text="${counter.additionalService.getUnitOfMeasurement().name}"></td>
                                <td>
                                    <a class="btn btn-default btn-sm"
                                       th:href="@{/admin/counter-data/copy/{id}(id=${counter.id})}"
                                       title="Снять новое показание счетчика">
                                        <i class="fa fa-weight"></i>
                                    </a>
                                    <a class="btn btn-default btn-sm"
                                       th:href="@{/admin/counter-data/counter-list/{id}(id=${counter.id})}"
                                       title="Открыть историю показаний для счетчика">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div th:if="${max}>0">
                                    <div class="col">
                                        <ul class="pagination pagination-sm m-0 float-right">
                                            <script>
                                                var pageNumber = [[${current}]] - 1;
                                                var afterQuestionMark = '';
                                                if (window.location.href.includes('filter')) {
                                                    var parts = window.location.href.split('?');
                                                    afterQuestionMark = '?' + parts[1];
                                                    var baseUrl = '/admin/counter-data/filter/';
                                                } else {
                                                    var baseUrl = '/admin/counter-data/index/';
                                                }

                                                if ([[${current}]] <= 1) document.write('<li class="page-item"><button class="page-link" disabled="disabled"><</button></li>');
                                                else document.write('<li class="page-item"><a class="page-link" href="' + (baseUrl + pageNumber + afterQuestionMark) + '"><</a></li>');
                                            </script>
                                            <ul class="pagination pagination-sm m-0 float-right"
                                                id="pagination-example">
                                                <script src="/pagination.js" data-url="admin/counter-data/index/"
                                                        th:current="${current}"
                                                        th:max="${max+1}"></script>
                                            </ul>
                                            <script>
                                                var pageNumber = [[${current}]] + 1;
                                                var afterQuestionMark = '';
                                                if (window.location.href.includes('filter')) {
                                                    var parts = window.location.href.split('?');
                                                    afterQuestionMark = '?' + parts[1];
                                                    var baseUrl = '/admin/counter-data/filter/';
                                                } else {
                                                    var baseUrl = '/admin/counter-data/index/';
                                                }
                                                console.log([[${current}]])
                                                if ([[${current}]] > [[${max}]]) document.write('<li class="page-item"><button class="page-link" disabled="disabled">></button></li>');
                                                else document.write('<li class="page-item"><a class="page-link" href="' + (baseUrl + pageNumber + afterQuestionMark) + '">></a></li>');
                                            </script>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
            href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        Документация API доступна <a href="/doc">по ссылке</a>.
    </footer>
</div>
<script>
    $('#mySelect2ForHouses').select2({
        ajax: {
            url: '/admin/house/get-houses',
            data: function (params) {
                var query = {
                    _search: params.term || '',
                    _page: params.page || 1
                };
                return query;
            }
        }
    }).trigger('select2:open');
</script>
<script>
    $('#mySelect2ForAdditionalServices').select2({
        ajax: {
            url: '/admin/service/get-additional-services',
            data: function (params) {
                var query = {
                    _search: params.term || '',
                    _page: params.page || 1
                };
                return query;
            }
        }
    }).trigger('select2:open');
</script>
<script src="/adminlte/plugins/jquery/jquery.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/dist/js/demo.js"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>


</body>

</html>