.sidebar-dark-primary .nav-sidebar .nav-link {
    color: #fff;
}

.sidebar-dark-primary .nav-sidebar .nav-treeview>.nav-item>.nav-link {
    color: #fff;
}

.sidebar-dark-primary .brand-link {
    background-color: #fff;
    color: #000;
}