<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{{context_path}/adminlte/dist/css/adminlte.min.css?v=3.2.0(context_path = ${context_path})}">
    <link rel="stylesheet" th:href="@{{context_path}/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css(context_path = ${context_path})}">
    <link rel="stylesheet" th:href="@{{context_path}/style.css(context_path = ${context_path})}">
    <link rel="stylesheet" th:href="@{{context_path}/adminlte/plugins/fontawesome-free/css/all.min.css(context_path = ${context_path})}">
</head>

<body class="sidebar-mini layout-fixed sidebar-closed sidebar-collapse" th:classappend="${theme == 'LIGHT' ? '' : 'dark-mode'}" style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 10px; margin-right: auto;">
                <span th:text="#{Пользователь}"></span>
                </h4>
            <ol class="breadcrumb text-for-breadcrumb" style="margin-right: 1%;">
                <li class="breadcrumb-item"><a th:href="@{{context_path}/admin(context_path = ${context_path})}" class="text-for-breadcrumb">
                    <span th:text="#{Главная}"></span>
                    </a>
                </li>
                <li class="breadcrumb-item"><a th:href="@{{context_path}/admin/user/index/1(context_path = ${context_path})}" class="text-for-breadcrumb">
                    <span th:text="#{Пользователи}"></span>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span th:text="#{Пользователь}"></span>
                    </li>
            </ol>
        </div>
        <section class="content">
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        <a class="btn btn-primary" th:href="@{{context_path}/admin/user-admin/edit/{id}(id=${admin.getId()}, context_path = ${context_path})}">
                            <span th:text="#{Редактировать_пользователя}"></span>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-view" th:classappend="${theme == 'LIGHT' ? '' : 'table-dark'}"
                           style="font-size: 13px; font-weight: bold">
                        <tbody>
                        <tr>
                            <td>
                                <span th:text="#{Статус}"></span>

                            </td>
                            <td>
                                <span th:switch="${admin.getStatus().name()}">
                                    <span th:case="NEW" class="status status-new">Новий</span>
                                    <span th:case="ACTIVE" class="status status-active">Активний</span>
                                    <span th:case="DISABLED" class="status status-disabled">Відключений</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%">
                                <span th:text="#{Пользователь}"></span>

                            </td>
                            <td th:text="${admin.getFullName()}" style="width: 50%"></td>
                        </tr>
                        <tr>
                            <td>
                                <span th:text="#{Роль}"></span>

                            </td>
                            <td th:text="${admin.getPhone()}">

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span th:text="#{Телефон}"></span>

                            </td>
                            <td th:text="${admin.getPhone()}">

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email(логин)
                            </td>
                            <td th:text="${admin.getEmail()}">

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
            href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        Документация API доступна <a href="/doc">по ссылке</a>.
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script th:src="@{{context_path}/adminlte/plugins/jquery/jquery.min.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/dist/js/adminlte.js?v=3.2.0(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/dist/js/demo.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/script.js(context_path = ${context_path})}"></script>
</body>
</html>
