<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>МойДом24</title>
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/dist/css/bootstrap-wysihtml5.css">
    <link rel="stylesheet" href="/dist/css/website.css">
    <link rel="stylesheet" href="/summernote/summernote.min.css">
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <div th:replace="blocks/menu :: menu"></div>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Редактирование страницы</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item active">Редактирование страницы</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="page_content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Редактирование страницы "О нас"</h3>
                            </div>
                            <div class="box-body">
                                <form method="post" th:object="${page}" enctype="multipart/form-data">
                                    <!--                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                                    <h3 class="page-header">Информация</h3>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="websitehomeform-hometitle"
                                                       class="control-label">Заголовок</label>
                                                <input type="text" class="form-control" th:field="*{title}"
                                                       id="websitehomeform-hometitle">
                                                <h4 style="color: red; font-weight: bold;"
                                                    th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></h4>
                                            </div>
                                            <div class="form-group field-websitehomeform-homedescription">
                                                <label class="control-label" for="description">Краткий текст</label>
                                                <textarea th:field="*{description}" id="description"></textarea>
                                                <h4 style="color: red; font-weight: bold;"
                                                    th:if="${#fields.hasErrors('description')}"
                                                    th:errors="*{description}"></h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h4>Фото директора</h4><div style="padding: 20px">
                                            <img class="img-thumbnail" style="width:100%" th:src="${page.director_image != null && !page.director_image.isEmpty()} ?
                                   @{/img/pages/{url}(url=${page.director_image})} :
                                   @{/img/pages/placeholder.jpg}" alt="">
                                        </div>
                                            <div class="form-group mb-30">
                                                <label for="" class="control-label">Рекомендуемый размер:
                                                    (250x310)</label>
                                                <input type="hidden" name="WebsiteHomeSlide[1][imageFile]">
                                                <input type="file" name="page_director_image" id="director_image"
                                                       accept="image/*">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12" style="width: 100%">
                                            <h3 class="page-header">Фотогалерея</h3>
                                        </div>
                                        <div class="row">
                                            <div th:each="image, iter : ${images}"
                                                 class="col-sm-4 col-md-3 text-center">
                                                <img style="width: 100%;" th:src="@{/img/pages/{url}(url=${image})}"
                                                     alt="" class="margin-bottom-15 img-thumbnail">
                                                <div class="form-group margin-bottom-15">
                                                    <a class="delete-about-button"
                                                       th:attr="data-url='/admin/website/delete-about-image/'+${iter.index}"
                                                       style="cursor: pointer;"><i class="fa fa-trash text-red" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12" style="width: 100%">

                                            <label class="control-label">Рекомендуемый размер: (1200x1200)</label>
                                            <br>
                                            <input type="file" name="page_images" id="images" accept="image/*" multiple>

                                        </div>
                                    </div>

                                    <h3 class="page-header">Дополнительная информация</h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="websitehomeform-homeaddtitle" class="control-label">Заголовок</label>
                                                <input type="text" class="form-control" th:field="*{add_title}"
                                                       id="websitehomeform-homeaddtitle">
                                                <h4 style="color: red; font-weight: bold;"
                                                    th:if="${#fields.hasErrors('add_title')}"
                                                    th:errors="*{add_title}"></h4>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Краткий текст</label>
                                                <textarea style="width: 100%" rows="4" th:field="*{add_description}"
                                                          id="add_description"></textarea>
                                                <h4 style="color: red; font-weight: bold;"
                                                    th:if="${#fields.hasErrors('add_description')}"
                                                    th:errors="*{add_description}"></h4>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12" style="width: 100%">
                                            <h3 class="page-header">Дополнительная фотогалерея</h3>
                                        </div>
                                        <div th:each="image, iter : ${add_images}"
                                             class="col-sm-4 col-md-3 text-center">
                                            <img style="width: 100%;" th:src="@{/img/pages/{url}(url=${image})}" alt=""
                                                 class="margin-bottom-15 img-thumbnail">
                                            <div class="form-group margin-bottom-15">
                                                <a class="delete-about-button"
                                                   th:attr="data-url='/admin/website/delete-about-add-image/'+${iter.index}"
                                                   style="cursor: pointer;"><i class="fa fa-trash text-red"
                                                                               aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-xs-12" style="width: 100%">

                                            <label for="" class="control-label">Рекомендуемый размер:
                                                (1200x1200)</label>
                                            <br>
                                            <input type="hidden" name="WebsiteHomeSlide[1][imageFile]" id="">
                                            <input type="file" name="page_add_images" id="add_images" multiple
                                                   accept="image/*">

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12" style="width: 100%">
                                            <h3 class="page-header">Документы</h3>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div id="documents">
                                                <div id="document_template" style="display:none"
                                                     class="form-websitedocument">
                                                    <div class="form-group">
                                                        <a onclick="this.parentElement.parentElement.remove()"
                                                           style="cursor: pointer;"
                                                           class="pull-right text-red" data-confirm="Удалить?"><i
                                                                class="fa fa-trash"></i></a>
                                                        <img style="width: 30px; height: 40px;  margin-right: 10px;"
                                                             class="fa fa-3x pull-left"
                                                             th:src="@{/img/pages/placeholder.jpg}"
                                                             alt="">
                                                        <label> PDF, JPG (макс. размер 20 Mb)</label>
                                                        <input type="file" name="document_files">
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Название документа</label>
                                                        <input type="text" class="form-control"
                                                               placeholder="Введите название" name="document_names">
                                                    </div>
                                                </div>
                                                <div th:each="document : ${documents}" class="form-websitedocument">
                                                    <div class="form-group">
                                                        <a onclick="if(confirm('Удалить?')) window.location.href=this.dataset.url"
                                                           style="cursor:pointer;"
                                                           th:attr="data-url='/admin/website/delete-document/'+${document.id}"
                                                           class="pull-right text-red" data-confirm="Удалить?"><i
                                                                class="fa fa-trash"></i></a>
                                                        <img style="width: 30px; height: 40px; margin-right: 10px;"
                                                             class="fa fa-3x pull-left"
                                                             th:src="${document.file != null} ?
                                 @{/img/pages/documents/{url}(url=${document.file})} :
                                 @{/img/pages/placeholder.jpg}"
                                                             alt="">
                                                        <label> PDF, JPG (макс. размер 20 Mb)</label>
                                                        <input type="file" name="document_files"
                                                               accept="application/pdf, image/jpeg">
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Название документа</label>
                                                        <input type="text" class="form-control"
                                                               th:value="${document.name}" name="document_names">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" id="add_document_button"
                                                        class="btn btn-success margin-bottom-15 form-row-add-websitedocument-btn">
                                                    Добавить документ
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="page-header">Настройки SEO</h3>
                                            <div class="form-group field-websitehomeform-homemetatitle">

                                                <label class="control-label"
                                                       for="websitehomeform-homemetatitle">Title</label>
                                                <input th:field="*{seo_title}" type="text"
                                                       id="websitehomeform-homemetatitle" class="form-control">

                                            </div>
                                            <div class="form-group field-websitehomeform-homemetadescription">

                                                <label class="control-label" for="websitehomeform-homemetadescription">Description</label>
                                                <textarea th:field="*{seo_description}"
                                                          id="websitehomeform-homemetadescription" class="form-control"
                                                          name="WebsiteHomeForm[homeMetaDescription]"
                                                          rows="6"></textarea>

                                            </div>
                                            <div class="form-group field-websitehomeform-homemetakeywords">

                                                <label class="control-label" for="websitehomeform-homemetakeywords">Keywords</label>
                                                <textarea th:field="*{seo_keywords}"
                                                          id="websitehomeform-homemetakeywords" class="form-control"
                                                          name="WebsiteHomeForm[homeMetaKeywords]" rows="6"></textarea>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group submit-buttons">
                                            <a href="admin/website/home" class="btn btn-default">Отменить</a>
                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
<script src="/summernote/summernote.js"></script>
<script src="/summernote/lang/summernote-ru-RU.js"></script>
<!--<script src="/bootstrap-wysihtml5.js"></script>-->
<!--<script src="/bootstrap-wysihtml5.ru-RU.js"></script>-->
<script>

    $(document).ready(function () {

        let delete_buttons = document.querySelectorAll('.delete-about-button');
        for (let i = 0; i < delete_buttons.length; i++) {
            delete_buttons[i].addEventListener('click', () => {
                if (confirm('Удалить?')) window.location.href = delete_buttons[i].dataset.url;
            });
        }


        $('#director_image').change(function () {
            console.log(this);
            let photo = this.files[0];
            let image = this.parentElement.previousElementSibling;
            let imagePath = URL.createObjectURL(image);

            image.src = imagePath;
        });

        $('#images, #add_images').change(function () {
            console.log(this);
            let input_div = this.parentElement;

            for (let i = 0; i < this.files.length; i++) {
                let image = this.files[i];
                let imageImgPath = URL.createObjectURL(image);
                let new_image_div = document.createElement('div');
                new_image_div.classList.add('col-xs-4', 'col-sm-3', 'text-center');
                new_image_div.innerHTML = '<img style="width:100%" src="' + imageImgPath + '" alt="" class="margin-bottom-15 img-thumbnail">';
                input_div.parentElement.insertBefore(new_image_div, input_div);
            }
        });

        document.getElementById("add_document_button").addEventListener('click', () => {
            let document_container = document.getElementById("documents");
            let document_template = document.getElementById("document_template");
            let new_slot = document_template.cloneNode(true);
            new_slot.id = '';
            new_slot.style = '';

            document_container.appendChild(new_slot);
        });
        $('#description').summernote({
            height: 250,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline']],
                ['para', ['ul', 'ol', 'paragraph']],
            ],
            lang: 'ru-RU'
        });
    })
</script>
</script>
</body>
</html>
