<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>МойДом24</title>
  <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
  <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/dist/css/bootstrap-wysihtml5.css">
  <link rel="stylesheet" href="/dist/css/website.css">
  <link rel="stylesheet" href="/summernote/summernote.min.css">

</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <div th:replace="blocks/menu :: menu"></div>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Редактирование страницы</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i>  Главная</a></li>
              <li class="breadcrumb-item active">Редактирование страницы</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="page_content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Редактирование страницы "Контакты"</h3>
              </div>
              <div class="box-body">
                <form method="post" th:object="${contactsPage}" enctype="multipart/form-data">
<!--                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                  <div class="row">
                    <div class="col-md-8">
                      <h3 class="page-header">Контактная информация</h3>

                      <div class="form-group">

                        <label class="control-label">Заголовок</label>
                        <input type="text" class="form-control" th:field="*{title}">
                        <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></h4>

                      </div>
                      <div class="form-group">
                        <label class="control-label" for="description">Краткий текст</label>
                        <textarea th:field="*{description}" id="description"></textarea>
                        <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></h4>
                      </div>

                      <div class="form-group">

                        <label  class="control-label">Ссылка на коммерческий сайт</label>
                        <input type="text" class="form-control" th:field="*{website_link}">
                        <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('website_link')}" th:errors="*{website_link}"></h4>

                      </div>
                    </div>
                    <div class="col-md-4">
                      <h3 class="page-header">Контакты</h3>

                      <div class="form-group">

                        <label class="control-label">ФИО</label>
                        <input type="text" class="form-control" th:field="*{name}">
                        <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></h4>

                      </div>
                      <div class="form-group">

                        <label class="control-label">Локация</label>
                        <input type="text" class="form-control" th:field="*{location}">
                        <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></h4>

                      </div>
                      <div class="form-group">

                        <label  class="control-label">Адрес</label>
                        <input type="text" class="form-control" th:field="*{address}" >
                        <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></h4>

                      </div>
                      <div class="form-group">

                        <label  class="control-label">Телефон</label>
                        <input type="text" class="form-control" th:field="*{phone}" >
                        <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></h4>

                      </div>
                      <div class="form-group">

                        <label  class="control-label">E-mail</label>
                        <input type="text" class="form-control" th:field="*{email}" >
                        <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></h4>

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12" style="width: 100%">
                      <h3 class="page-header">Карта</h3>
                      <div class="form-group field-websitehomeform-homemetadescription">

                        <label class="control-label" for="websitehomeform-homemetadescription">Код карты</label>
                        <textarea th:field="*{map_code}" style="width: 100%;" class="form-control" rows="6">
                        </textarea>
                        <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('map_code')}" th:errors="*{map_code}"></h4>

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="page-header">Настройки SEO</h3>
                      <div class="form-group field-websitehomeform-homemetatitle">

                        <label class="control-label" for="websitehomeform-homemetatitle">Title</label>
                        <input type="text" id="websitehomeform-homemetatitle" class="form-control" th:field="*{seo_title}">

                      </div>
                      <div class="form-group field-websitehomeform-homemetadescription">

                        <label class="control-label" for="websitehomeform-homemetadescription">Description</label>
                        <textarea id="websitehomeform-homemetadescription" class="form-control" th:field="*{seo_description}" rows="6"></textarea>

                      </div>
                      <div class="form-group field-websitehomeform-homemetakeywords">

                        <label class="control-label" for="websitehomeform-homemetakeywords">Keywords</label>
                        <textarea id="websitehomeform-homemetakeywords" class="form-control" th:field="*{seo_keywords}" rows="6"></textarea>

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group submit-buttons">
                      <a href="admin/website/home" class="btn btn-default">Отменить</a>
                      <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
<script src="/summernote/summernote.js"></script>
<script src="/summernote/lang/summernote-ru-RU.js"></script>

<script>
  $(document).ready(function(){
    $('#description').summernote({
      height: 250,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'italic', 'underline']],
        ['para', ['ul', 'ol', 'paragraph']],
      ],
      lang: 'ru-RU'
    });
  })
</script>

</body>
</html>
