<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>МойДом24</title>
  <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
  <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/dist/css/bootstrap-wysihtml5.css">
  <link rel="stylesheet" href="/dist/css/website.css">
  <link rel="stylesheet" href="/summernote/summernote.min.css">
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <div th:replace="blocks/menu :: menu"></div>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Редактирование страницы</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i>  Главная</a></li>
              <li class="breadcrumb-item active">Редактирование страницы</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="page_content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Редактирование главной страницы</h3>
                <div class="box-tools">
                  <a id="refresh" class="btn btn-default btn-sm">Обновить robots и sitemap</a>
                </div>
              </div>
              <div class="box-body">
                <form method="post" th:object="${mainPage}" enctype="multipart/form-data">
<!--                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                  <h3 class="page-header">Карусель(слайдер)</h3>
                  <div class="row">
                    <div class="col-md-4">
                      <h4>Слайд 1</h4>
                      <img th:src="*{slide1 != null && !slide1.isEmpty()} ?
                                   @{/img/{url}(url=${mainPage.slide1})} :
                                   @{/img/placeholder.jpg}"
                           th:styleappend="${#fields.hasErrors('img1')} ? 'border:0.5px solid red'" class="page_image" alt="">
                      <div class="form-group mb-30">
                        <label for="img1" class="control-label">Рекомендуемый размер: (1920х800)</label>
                        <input type="hidden" name="WebsiteHomeSlide[0][imageFile]" >
                        <input type="file" th:field="*{img1}" name="img1" id="img1" accept="image/*">
                      </div>
                      <h4 th:if="${#fields.hasErrors('img1')}" th:errors="*{img1}" style="color:red"></h4>
                    </div>
                    <div class="col-md-4">
                      <h4>Слайд 2</h4>
                      <img th:src="${mainPage.slide2 != null && !mainPage.slide2.isEmpty()} ?
                                   @{/img/{url}(url=${mainPage.slide2})} :
                                   @{/img/placeholder.jpg}" class="page_image" alt="">
                      <div class="form-group mb-30">
                        <label for="page_slide2" class="control-label">Рекомендуемый размер: (1920х800)</label>
                        <input type="hidden" name="WebsiteHomeSlide[1][imageFile]" >
                        <input type="file" name="page_slide2" id="page_slide2" accept="image/*">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <h4>Слайд 3</h4>
                      <img th:src="${mainPage.slide3 != null && !mainPage.slide3.isEmpty()} ?
                                   @{/img/{url}(url=${mainPage.slide3})} :
                                   @{/img/placeholder.jpg}" class="page_image" alt="">
                      <div class="form-group mb-30">
                        <label class="control-label">Рекомендуемый размер: (1920х800)</label>
                        <input type="hidden" name="WebsiteHomeSlide[2][imageFile]">
                        <input type="file" name="page_slide3" id="page_slide3" accept="image/*">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="page-header">Краткая информация</h3>
                      <div class="form-group">
                        <label class="control-label">Заголовок</label>
                        <input type="text" class="form-control" th:field="*{title}" placeholder="Об управляющей компании">
                        <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></h4>
                      </div>
                      <div class="form-group">
                        <label class="control-label" >Краткий текст</label>
                        <textarea style="width: 100%;" rows="5" placeholder="Описание..." th:field="*{description}"></textarea>
                        <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></h4>
                      </div>

                      <div class="form-group">
                        <label><input type="checkbox" id="websitehomeform-homeisshowapps" name="show_links" value="1" checked=""> Показать ссылки на приложения</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12" style="width: 100%">
                      <h3 class="page-header">Рядом с нами</h3>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <h4>Блок 1</h4>
                        <img th:src="${mainPage.block_1_img != null && !mainPage.block_1_img.isEmpty()} ?
                                   @{/img/{url}(url=${mainPage.block_1_img})} :
                                   @{/img/placeholder.jpg}" class="page_image" alt="">
                        <div class="form-group mb-30">
                          <label  class="control-label">Рекомендуемый размер: (1920х800)</label>
                          <input type="hidden" name="WebsiteHomeSlide[0][imageFile]" >
                          <input type="file" name="page_block_1_img" id="page_block_1_img" accept="image/*">
                        </div>
                        <div class="form-group mb-30">
                          <label  class="control-label">Заголовок блока</label>
                          <input type="text" class="form-control" placeholder="О управляющей компании" th:field="*{block_1_title}" id="block_1_title">
                          <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('block_1_title')}" th:errors="*{block_1_title}"></h4>
                        </div>
                        <div class="form-group mb-30">
                          <label class="control-label" for="block_1_description">Краткий текст</label>
                          <textarea style="width: 100%;" rows="3" th:field="*{block_1_description}" id="block_1_description"></textarea>
                          <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('block_1_description')}" th:errors="*{block_1_description}"></h4>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <h4>Блок 2</h4>
                        <img th:src="${mainPage.block_2_img != null && !mainPage.block_2_img.isEmpty()} ?
                                   @{/img/{url}(url=${mainPage.block_2_img})} :
                                   @{/img/placeholder.jpg}" class="page_image" alt="">
                        <div class="form-group mb-30">
                          <label for="page_block_2_img" class="control-label">Рекомендуемый размер: (1920х800)</label>
                          <input type="hidden" name="WebsiteHomeSlide[0][imageFile]" >
                          <input type="file" name="page_block_2_img" id="page_block_2_img" accept="image/*">
                        </div>
                        <div class="form-group mb-30">
                          <label for="block_2_title" class="control-label">Заголовок блока</label>
                          <input type="text" class="form-control" placeholder="О управляющей компании" th:field="*{block_2_title}" id="block_2_title">
                          <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('block_2_title')}" th:errors="*{block_2_title}"></h4>
                        </div>
                        <div class="form-group mb-30">
                          <label class="control-label" for="block_2_description">Краткий текст</label>
                          <textarea style="width: 100%;" rows="3" th:field="*{block_2_description}" id="block_2_description"></textarea>
                          <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('block_2_description')}" th:errors="*{block_2_description}"></h4>
                        </div>

                      </div>
                      <div class="col-md-4">
                        <h4>Блок 3</h4>
                        <img th:src="${mainPage.block_3_img != null && !mainPage.block_3_img.isEmpty()} ?
                                   @{/img/{url}(url=${mainPage.block_3_img})} :
                                   @{/img/placeholder.jpg}" class="page_image" alt="">
                        <div class="form-group mb-30">
                          <label for="page_block_3_img" class="control-label">Рекомендуемый размер: (1920х800)</label>
                          <input type="hidden" name="WebsiteHomeSlide[0][imageFile]" >
                          <input type="file" name="page_block_3_img" id="page_block_3_img" accept="image/*">
                        </div>
                        <div class="form-group mb-30">
                          <label for="block_1_title" class="control-label">Заголовок блока</label>
                          <input type="text" class="form-control" placeholder="О управляющей компании" th:field="*{block_3_title}" id="block_3_title">
                          <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('block_3_title')}" th:errors="*{block_3_title}"></h4>
                        </div>
                        <div class="form-group mb-30">
                          <label class="control-label" for="block_3_description">Краткий текст</label>
                          <textarea style="width: 100%;" rows="3" th:field="*{block_3_description}" id="block_3_description"></textarea>
                          <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('block_3_description')}" th:errors="*{block_3_description}"></h4>
                        </div>

                      </div>
                      <div class="col-md-4">
                        <h4>Блок 4</h4>
                        <img th:src="${mainPage.block_4_img != null && !mainPage.block_4_img.isEmpty()} ?
                                   @{/img/{url}(url=${mainPage.block_4_img})} :
                                   @{/img/placeholder.jpg}" class="page_image" alt="">
                        <div class="form-group mb-30">
                          <label for="page_block_4_img" class="control-label">Рекомендуемый размер: (1920х800)</label>
                          <input type="hidden" name="WebsiteHomeSlide[0][imageFile]" >
                          <input type="file" name="page_block_4_img" id="page_block_4_img" accept="image/*">
                        </div>
                        <div class="form-group mb-30">
                          <label for="block_4_title" class="control-label">Заголовок блока</label>
                          <input type="text" class="form-control" placeholder="О управляющей компании" th:field="*{block_4_title}" id="block_4_title">
                          <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('block_4_title')}" th:errors="*{block_4_title}"></h4>
                        </div>
                        <div class="form-group mb-30">
                          <label class="control-label" for="block_4_description">Краткий текст</label>
                          <textarea style="width: 100%;" rows="3" th:field="*{block_4_description}" id="block_4_description"></textarea>
                          <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('block_4_description')}" th:errors="*{block_4_description}"></h4>
                        </div>

                      </div>
                      <div class="col-md-4">
                        <h4>Блок 5</h4>
                        <img th:src="${mainPage.block_5_img != null && !mainPage.block_5_img.isEmpty()} ?
                                   @{/img/{url}(url=${mainPage.block_5_img})} :
                                   @{/img/placeholder.jpg}" class="page_image" alt="">
                        <div class="form-group mb-30">
                          <label for="page_block_5_img" class="control-label">Рекомендуемый размер: (1920х800)</label>
                          <input type="hidden" name="WebsiteHomeSlide[0][imageFile]" >
                          <input type="file" name="page_block_5_img" id="page_block_5_img" accept="image/*">
                        </div>
                        <div class="form-group mb-30">
                          <label for="block_5_title" class="control-label">Заголовок блока</label>
                          <input type="text" class="form-control" placeholder="О управляющей компании" th:field="*{block_5_title}" id="block_5_title">
                          <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('block_5_title')}" th:errors="*{block_5_title}"></h4>
                        </div>
                        <div class="form-group field-websitehomeform-homedescription">
                          <label class="control-label" for="block_5_description">Краткий текст</label>
                          <textarea style="width: 100%;" rows="3" th:field="*{block_5_description}" id="block_5_description"></textarea>
                          <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('block_5_description')}" th:errors="*{block_5_description}"></h4>
                        </div>

                      </div>
                      <div class="col-md-4">
                        <h4>Блок 6</h4>
                        <img th:src="${mainPage.block_6_img != null && !mainPage.block_6_img.isEmpty()} ?
                                   @{/img/{url}(url=${mainPage.block_6_img})} :
                                   @{/img/placeholder.jpg}" class="page_image" alt="">
                        <div class="form-group mb-30">
                          <label for="page_block_6_img" class="control-label">Рекомендуемый размер: (1920х800)</label>
                          <input type="hidden" name="WebsiteHomeSlide[0][imageFile]" >
                          <input type="file" name="page_block_6_img" id="page_block_6_img" accept="image/*">
                        </div>
                        <div class="form-group mb-30">
                          <label for="block_6_title" class="control-label">Заголовок блока</label>
                          <input type="text" class="form-control" placeholder="О управляющей компании" th:field="*{block_6_title}" id="block_6_title">
                          <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('block_6_title')}" th:errors="*{block_6_title}"></h4>
                        </div>
                        <div class="form-group field-websitehomeform-homedescription">
                          <label class="control-label" for="block_6_description">Краткий текст</label>
                          <textarea style="width: 100%;" rows="3" th:field="*{block_6_description}" id="block_6_description"></textarea>
                          <h4 style="color: red; font-weight: bold;" th:if="${#fields.hasErrors('block_6_description')}" th:errors="*{block_6_description}"></h4>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="page-header">Настройки SEO</h3>
                      <div class="form-group field-websitehomeform-homemetatitle">

                        <label class="control-label" for="seo_title">Title</label>
                        <input type="text" id="seo_title" class="form-control" th:field="*{seo_title}" placeholder="Текст">

                      </div>
                      <div class="form-group field-websitehomeform-homemetadescription">

                        <label class="control-label" for="seo_description">Description</label>
                        <textarea id="seo_description" class="form-control" th:field="*{seo_description}" rows="6"></textarea>

                      </div>
                      <div class="form-group field-websitehomeform-homemetakeywords">

                        <label class="control-label" for="seo_keywords">Keywords</label>
                        <textarea id="seo_keywords" class="form-control" th:field="*{seo_keywords}" rows="6"></textarea>

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group submit-buttons">
                      <a href="admin/website/home" class="btn btn-default">Отменить</a>
                      <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
<script src="/summernote/summernote.js"></script>
<script src="/summernote/lang/summernote-ru-RU.js"></script>

<script>

  $(document).ready(function() {

    $('input[type="file"]').change(function() {
      console.log(this);
      let photo = this.files[0];
      let image = this.parentElement.previousElementSibling;
      let imagePath = URL.createObjectURL(photo);

      image.src = imagePath;
    });

    $('#description').summernote({
      height: 250,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'italic', 'underline']],
        ['para', ['ul', 'ol', 'paragraph']],
      ],
      lang: 'ru-RU'
    });
    $('#block_1_description').summernote({
      height: 250,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'italic', 'underline']],
        ['para', ['ul', 'ol', 'paragraph']],
      ],
      lang: 'ru-RU'
    });
    $('#block_2_description').summernote({
      height: 250,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'italic', 'underline']],
        ['para', ['ul', 'ol', 'paragraph']],
      ],
      lang: 'ru-RU'
    });
    $('#block_3_description').summernote({
      height: 250,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'italic', 'underline']],
        ['para', ['ul', 'ol', 'paragraph']],
      ],
      lang: 'ru-RU'
    });
    $('#block_4_description').summernote({
      height: 250,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'italic', 'underline']],
        ['para', ['ul', 'ol', 'paragraph']],
      ],
      lang: 'ru-RU'
    });
    $('#block_5_description').summernote({
      height: 250,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'italic', 'underline']],
        ['para', ['ul', 'ol', 'paragraph']],
      ],
      lang: 'ru-RU'
    });
    $('#block_6_description').summernote({
      height: 250,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'italic', 'underline']],
        ['para', ['ul', 'ol', 'paragraph']],
      ],
      lang: 'ru-RU'
    });

    $("#refresh").click(function(){alert("Обновлено");})
  })
</script>

</body>
</html>
