<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Роли</title>
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body class="sidebar-mini layout-fixed sidebar-closed sidebar-collapse" style="height: auto;">
<div class="wrapper">К
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Роли</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/admin}"><i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item active">Роли</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="page_content">
            <div class="container-fluid">
                <form method="post" th:object="${roleForm}" id="roleForm">
                    <table class="table-responsive table-striped roles-table">
                        <thead>
                        <tr>
                            <th>Роль</th>
                            <th class="text-center" th:each="permission : ${permissions}" th:text="${#messages.msg('permission.' + permission.page.toLowerCase())}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="role, roleIndex : *{roles}">
                            <td th:text="#{${role.name}}"></td>
                            <td th:each="permission : ${permissions}">
                                <div style="display: flex; justify-content: center; align-items: center;">
                                    <input type="checkbox" th:field="*{roles[__${roleIndex.index}__].permissions}"
                                           th:value="${permission.id}"
                                           th:checked="${role.permissions != null and role.permissions.contains(permission)}"
                                           th:disabled="${role.name == 'ROLE_DIRECTOR'}"
                                           data-original-value="${role.permissions != null and role.permissions.contains(permission)}" />
                                </div>
                            </td>
                            <input type="hidden" th:field="*{roles[__${roleIndex.index}__].id}" />
                            <!-- Add a hidden input field for the director role permissions -->
                            <input type="hidden" th:if="${role.name == 'ROLE_DIRECTOR'}" th:field="*{roles[__${roleIndex.index}__].permissions}" />
                        </tr>
                        </tbody>
                    </table>
                    <div class="row" style="padding-top: 15px">
                        <div class="col-md-12 d-flex justify-content-end">
                            <button type="button" style="margin-right: 5px" class="btn btn-secondary" onclick="undoChanges()">Отменить</button>
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

    </div>
</div>
<style>
    .roles-table td {
        border: 1px solid #ccc;
        padding: 5px;
        vertical-align: middle;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
<script>
    function undoChanges() {
        $.ajax({
            type: "GET",
            url: "/admin/reset-form",
            success: function(response) {
                $('#roleForm').replaceWith(response);
            },
            error: function() {
            }
        });
    }
</script>
</body>
</html>