<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{{context_path}/adminlte/dist/css/adminlte.min.css?v=3.2.0(context_path = ${context_path})}">
    <link rel="stylesheet" th:href="@{{context_path}/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css(context_path = ${context_path})}">
    <link rel="stylesheet" th:href="@{{context_path}/style.css(context_path = ${context_path})}">
    <link rel="stylesheet" th:href="@{{context_path}/adminlte/plugins/fontawesome-free/css/all.min.css(context_path = ${context_path})}">
</head>

<body class="sidebar-mini layout-fixed sidebar-closed sidebar-collapse" th:classappend="${theme == 'LIGHT' ? '' : 'dark-mode'}" style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 10px; margin-right: auto;">
                <span th:text="#{Дом}"></span>
                 [[${house.getName()}]]</h4>
            <ol class="breadcrumb text-for-breadcrumb" style="margin-right: 1%;">
                <li class="breadcrumb-item"><a th:href="@{{context_path}/admin(context_path = ${context_path})}" class="text-for-breadcrumb">
                    <span th:text="#{Главная}"></span>
                    </a>
                </li>
                <li class="breadcrumb-item"><a th:href="@{{context_path}/admin/house/index/1(context_path = ${context_path})}" class="text-for-breadcrumb">
                    <span th:text="#{Дома}"></span>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${house.getName()}"></li>
            </ol>
        </div>
        <section class="content">
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-primary float-right" th:href="@{{context_path}/admin/house/edit/{id}(id=${house.getId()}, context_path = ${context_path})}">
                        <span th:text="#{Редактировать_дом}"></span>
                    </a>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <b>
                                    <span th:text="#{Название}"></span>

                                    <br/>
                                    <br/>
                                    <span th:text="#{Адрес}"></span>

                                    <br/>
                                    <br/>
                                    <span th:text="#{Секций}"></span>

                                    <br/>
                                    <br/>
                                    <span th:text="#{Этажей}"></span>

                                    <br/>
                                    <br/>
                                    <span th:text="#{Пользователи}"></span>

                                </b>
                            </div>
                            <div class="col-2">
                                <h6 th:text="${house.getName()}"></h6>
                                <br/>
                                <h6 th:text="${house.getAddress()}"></h6>
                                <div style="margin-bottom: 29px;"></div>
                                <h6 th:text="${house.getSections().size()}"></h6>
                                <div style="margin-bottom: 29px;"></div>
                                <h6 th:text="${house.getFloors().size()}"></h6>
                                <br/>
                                <div th:each="user : ${house.getAdmins()}">
                                        <span>
                                        <h7 th:text="${user.getFirstName()}"></h7>:
                                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                           th:href="@{{context_path}/admin/user-admin/{id}(id = ${user.getId()}, context_path = ${context_path})}"
                                           th:text="${user.getFirstName()}"></a>
                                        </span>
                                </div>
                            </div>
                            <div class="col-4">
                                <img id="previewImage1" class="pull-left img-responsive"
                                     th:src="${house.getImage()}"
                                     style="width: 90%; height: 350px">
                            </div>
                            <div class="col-2">
                                <img id="previewImage2" class="pull-left img-responsive"
                                     th:src="${house.getImage1()}"
                                     style="width: 90%; height: 160px; margin-bottom: 30px;">
                                <br/>
                                <img id="previewImage3" class="pull-left img-responsive"
                                     th:src="${house.getImage2()}"
                                     style="width: 90%; height: 160px">
                            </div>
                            <div class="col-2">
                                <img id="previewImage4" class="pull-left img-responsive"
                                     th:src="${house.getImage3()}"
                                     style="width: 90%; height: 160px; margin-bottom: 30px;">
                                <br/>
                                <img id="previewImage5" class="pull-left img-responsive"
                                     th:src="${house.getImage4()}"
                                     style="width: 90%; height: 160px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<footer class="main-footer">
    Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
        href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
    Документация API доступна <a href="/doc">по ссылке</a>.
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script th:src="@{{context_path}/adminlte/plugins/jquery/jquery.min.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/dist/js/adminlte.js?v=3.2.0(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/dist/js/demo.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/script.js(context_path = ${context_path})}"></script>
<script>
    function previewImage(event, imageId) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById(imageId);
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
</body>
</html>
